Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: 默认亮白色`light`主题配色，并按照感官调整主题色顺序
  public/platform-config.json
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/theme/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复亮白主题配色，切换暗色主题后再切回亮色主题时，无法恢复之前的亮白主题配色
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/utils/responsive.ts
  types/global.d.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: 统一亮白主题配色下顶部菜单和混合菜单的`logo`和右侧操作功能颜色
  src/layout/theme/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 优化主题色 (#842)
  public/platform-config.json
  src/layout/components/panel/index.vue
  src/layout/components/setting/index.vue
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/layout/theme/index.ts
  src/store/modules/epTheme.ts
  src/style/sidebar.scss
  src/utils/responsive.ts
  types/global.d.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 增强`useRenderIcon`使用本地`svg`的方式
  src/components/ReIcon/src/hooks.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 替换所有`el-tooltip`为`tippyjs`，它更专业且精致
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化左侧菜单最左下角的展开、折叠按钮在亮白主题配色下的样式
  src/layout/components/sidebar/leftCollapse.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化所有`el-empty`的`description`内容。图标选择器内容为空时加上`el-empty`
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
  src/layout/components/notice/noticeList.vue
  src/views/list/card/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 菜单搜索新增搜索历史和收藏功能
  src/layout/components/search/components/SearchModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 重构首页，使其美观、精致
  src/views/welcome/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: update `README`
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

perf: 左侧菜单折叠后的`tooltip`主题与整体菜单保持统一
  package.json
  pnpm-lock.yaml
  src/layout/components/notice/noticeList.vue
  src/layout/components/sidebar/vertical.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 所有`search`搜索图标统一替换为 `@iconify-icons/ri/search-line` 它比较常用将其放入全局离线图标中
  src/components/ReIcon/src/offlineIcon.ts
  src/layout/components/search/index.vue
  src/views/list/card/index.vue
  src/views/system/dept/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/plugins/echarts/index.ts
  src/plugins/echarts/theme.json
  src/views/welcome/components/Bar.vue
  src/views/welcome/components/Github.vue
  src/views/welcome/components/Line.vue
  src/views/welcome/components/Pie.vue
  src/views/welcome/components/columns.tsx
  src/views/welcome/components/lineChart.vue
  src/views/welcome/components/roundChart.vue
  src/views/welcome/data.ts
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/pure-table/high/echarts/columns.tsx
  src/views/welcome/components/lineChart.vue
  src/views/welcome/components/roundChart.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/welcome/components/barChart.vue
  src/views/welcome/components/lineChart.vue
  src/views/welcome/components/roundChart.vue
  src/views/welcome/data.ts
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/welcome/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/welcome/components/barChart.vue
  src/views/welcome/data.ts
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  build/optimize.ts
  mock/list.ts
  package.json
  pnpm-lock.yaml
  src/api/list.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  src/views/welcome/components/barChart.vue
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/data.ts
  src/views/welcome/components/table/index.vue
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/style/dark.scss
  src/views/welcome/components/chart/bar.vue
  src/views/welcome/components/chart/index.ts
  src/views/welcome/components/chart/line.vue
  src/views/welcome/components/chart/round.vue
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  package.json
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/empty.svg
  src/views/welcome/components/table/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  src/views/welcome/data.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  package.json
  pnpm-lock.yaml
  src/views/welcome/components/chart/bar.vue
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/data.ts
  src/views/welcome/data.ts
  src/views/welcome/index.vue
  src/views/welcome/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  src/views/welcome/data.ts
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: 带来更美观精致的首页 (#848)
  build/optimize.ts
  mock/list.ts
  package.json
  pnpm-lock.yaml
  src/api/list.ts
  src/plugins/echarts/index.ts
  src/plugins/echarts/theme.json
  src/style/dark.scss
  src/views/pure-table/high/echarts/columns.tsx
  src/views/welcome/components/Bar.vue
  src/views/welcome/components/Github.vue
  src/views/welcome/components/Line.vue
  src/views/welcome/components/Pie.vue
  src/views/welcome/components/chart/bar.vue
  src/views/welcome/components/chart/index.ts
  src/views/welcome/components/chart/line.vue
  src/views/welcome/components/chart/round.vue
  src/views/welcome/components/columns.tsx
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/empty.svg
  src/views/welcome/components/table/index.vue
  src/views/welcome/data.ts
  src/views/welcome/index.vue
  src/views/welcome/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/print/index.vue
  src/views/able/print/pieChart.vue
  src/views/welcome/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 优化导航，弹出的菜单超出内容区自适应且可滚动
  package.json
  pnpm-lock.yaml
  public/platform-config.json
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/layout/components/sidebar/vertical.vue
  src/style/dark.scss
  src/style/element-plus.scss
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 优化项目构建相关函数
  build/index.ts
  build/plugins.ts
  build/utils.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 更简单且兼容场景更多的首页图表尺寸自适应容器写法
  package.json
  pnpm-lock.yaml
  src/views/welcome/components/chart/bar.vue
  src/views/welcome/components/chart/line.vue
  src/views/welcome/components/chart/round.vue
  src/views/welcome/index.vue
  src/views/welcome/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix
