Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-tag/components/TagChrome.vue
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加谷歌风格的页签 (#1160)
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-tag/components/TagChrome.vue
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: 更新特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

release: update `5.7.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: add multiple highlightValue
  .vscode/settings.json
Due: none

chore: 通知
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  .vscode/settings.json
  src/directives/optimize/index.ts
  src/directives/ripple/index.ts
  types/directives.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: 优化自定义指令的类型提示 (#1161)
  .vscode/extensions.json
  .vscode/settings.json
  src/directives/auth/index.ts
  src/directives/copy/index.ts
  src/directives/longpress/index.ts
  src/directives/optimize/index.ts
  src/directives/ripple/index.ts
  types/directives.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 添加开发环境代码调试`vite-plugin-vue-inspector`插件，提升开发体验 (#1162)
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update `plugins/elementPlus.ts`
  src/plugins/elementPlus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: update`global-components.d`
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update `plugins/elementPlus.ts` (#1164)
  src/plugins/elementPlus.ts
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复页面tag激活状态逻辑判断问题
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: js
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复配置路由属性`fixedTag`为`false`后当前标签页不可关闭的问题
  src/layout/components/lay-tag/index.vue
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 增加全局配置本地加载的控制
  build/utils.ts
  src/config/index.ts
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 手机端层级展示
  src/layout/index.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 数字键回车快捷登录
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化登录页 (#1168)
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 减少代码重复
  src/router/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 手机端层级展示 (#1169)
  src/layout/index.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/views/components/el-button.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`vite-plugin-checker`插件，更严格的类型和`eslint`校验
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

perf: 优化系统管理-角色管理的权限功能样式
  src/views/system/role/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

first commit
  .husky/pre-commit
  build/info.ts
  public/favicon.ico
  public/logo.svg
  public/platform-config.json
  src/router/modules/case_execution.ts
  src/router/modules/case_management.ts
  src/router/modules/project_management.ts
  src/router/modules/test_result.ts
  src/router/modules/testing_data.ts
  src/router/modules/total.ts
  src/router/modules/user.ts
  src/views/case_exec/case_exec.vue
  src/views/case_management/caselist.vue
  src/views/home/Cards.vue
  src/views/home/Introduce.vue
  src/views/home/index.vue
  src/views/project_management/projectlist.vue
  src/views/test_data_management/testData.vue
  src/views/test_result_management/testResultList.vue
  src/views/user_management/user.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复顶部菜单模式下`logo`不可隐藏的问题
  src/layout/components/lay-sidebar/NavHorizontal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
