Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/index.ts
  src/components/ReIcon/src/hooks.ts
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/router/modules/able.ts
  src/router/modules/about.ts
  src/router/modules/board.ts
  src/router/modules/chatai.ts
  src/router/modules/codemirror.ts
  src/router/modules/components.ts
  src/router/modules/editor.ts
  src/router/modules/error.ts
  src/router/modules/flowchart.ts
  src/router/modules/form.ts
  src/router/modules/formdesign.ts
  src/router/modules/ganttastic.ts
  src/router/modules/guide.ts
  src/router/modules/home.ts
  src/router/modules/list.ts
  src/router/modules/markdown.ts
  src/router/modules/mind.ts
  src/router/modules/nested.ts
  src/router/modules/ppt.ts
  src/router/modules/result.ts
  src/router/modules/table.ts
  src/router/modules/vueflow.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  src/components/ReIcon/src/hooks.ts
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/views/login/components/LoginPhone.vue
  src/views/login/components/LoginRegist.vue
  src/views/login/components/LoginUpdate.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReIcon/src/offlineIcon.ts
  src/layout/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReIcon/src/offlineIcon.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 继续使用`addIcon`添加离线图标，因为`addCollection`添加图标后无法`Tree-shaking`
  build/optimize.ts
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/index.ts
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/layout/components/lay-search/index.vue
  src/layout/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 点击鼠标滚轮键关闭标签页
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 删除已弃用的依赖包`eslint-define-config`，升级`eslint`至最新版本，相关兼容处理
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
Due: prettier --cache --write

fix: 修复重构图标后的错误用法
  src/views/list/card/index.vue
  src/views/system/dept/index.vue
  src/views/system/menu/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 更新`vue-flow`，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/vue-flow/layouting/processNode.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复组件-瀑布流无限滚动示例中失效的链接
  src/views/components/waterfall/api.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 更新`eslint`相关依赖并作兼容处理
  eslint.config.js
  mock/mine.ts
  package.json
  pnpm-lock.yaml
  src/components/ReFlowChart/src/Control.vue
  src/components/ReFlowChart/src/NodePanel.vue
  src/components/ReSeamlessScroll/src/utils.ts
  src/directives/ripple/index.ts
  src/layout/components/lay-search/components/SearchFooter.vue
  src/layout/components/lay-sidebar/components/SidebarCenterCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarLeftCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarTopCollapse.vue
  src/plugins/i18n.ts
  src/utils/print.ts
  src/views/components/dialog/form.vue
  src/views/components/dialog/formPrimitive.vue
  src/views/components/drawer/form.vue
  src/views/components/drawer/formPrimitive.vue
  src/views/table/high/table-select/multiple/columns.tsx
  types/index.d.ts
  types/router.d.ts
  types/shims-tsx.d.ts
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style: 样式再复查
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
  src/components/ReIcon/src/hooks.ts
  src/views/components/tag.vue
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/system/user/index.vue
  src/views/table/base/fluidHeight.vue
  src/views/table/high/excel/index.vue
  src/views/table/high/header/index.vue
  src/views/table/high/prints/index.vue
  src/views/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/system/user/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/layout/components/lay-panel/index.vue
  src/views/components/swiper.vue
  src/views/components/upload/index.vue
  src/views/components/waterfall/index.vue
  src/views/monitor/logs/operation/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-footer/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/components/waterfall/index.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

release: update `6.0.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

style: update
  src/layout/components/lay-sidebar/components/SidebarTopCollapse.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复resetRouter未清空全部路由数据
  src/router/index.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复`ReSegmented`分段控制器组件在浅色和深色整体风格切换时的闪烁问题
  src/components/ReSegmented/src/index.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

perf: 优化导航样式
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-sidebar/components/SidebarItem.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input
