Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: 升级`element-plus`至最新版，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/utils/message.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  src/router/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复resetRouter未清空全部路由数据 (#1208)
  src/router/index.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: 新增一位特别代码贡献者[tinysimple](https://github.com/tinysimple)
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: fix typo
  src/router/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update auth.ts
  src/utils/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf: 优化代码
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-footer/index.vue
  src/layout/components/lay-search/components/SearchModal.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

docs: update `README`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

feat: 🎸 修改路由顺序
  mock/asyncRoutes.ts
  src/router/enums.ts
  src/views/study/color.vue
  src/views/study/effort.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级至`vite7`，更新依赖，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/assets/iconfont/iconfont.js
  src/components/ReFlowChart/src/assets/iconfont/iconfont.js
  src/components/ReSplitPane/iconfont/iconfont.js
  src/directives/ripple/index.scss
  src/views/able/mqtt-client.vue
  src/views/account-settings/index.vue
  src/views/guide/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复标签页-关闭左侧标签页关闭异常问题
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: 升级`@pureadmin/table`兼容最新版`element-plus`
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

release: update `6.1.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: 修复设置了`keepAlive: true`的页面在初次加载缓慢的情况下出现的页面缓存失效的问题，较难复现，感谢反馈
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复内置的首页未设置`name`导致设置页面缓存后缓存无效的问题
  src/layout/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复不同路由使用相同参数时，多个标签页会同时被激活的问题
  src/layout/hooks/useTag.ts
  src/store/modules/multiTags.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复`params`传参模式下标签页右键菜单显示不正确的问题
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化`nprogress`进度条，页面重进或接口请求时不再显示进度条，提升用户体验
  src/router/index.ts
  src/utils/http/index.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化`nprogress`进度条，页面重进或接口请求时不再显示进度条，提升用户体验 (#1225)
  src/layout/components/lay-tag/index.vue
  src/router/index.ts
  src/utils/http/index.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加全屏`403`、`404`、`500`页面，全屏错误页面清晰且安全，提升用户体验
  src/router/modules/remaining.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/error.ts
  src/router/modules/remaining.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 移动端兼容
  src/views/error/403.vue
  src/views/error/404.vue
  src/views/error/500.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加全屏`403`、`404`、`500`页面，全屏错误页面清晰且安全，提升用户体验 (#1226)
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/error.ts
  src/router/modules/remaining.ts
  src/router/utils.ts
  src/views/error/403.vue
  src/views/error/404.vue
  src/views/error/500.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
