Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

release: update `5.2.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update `plugins/elementPlus.ts`
  src/plugins/elementPlus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update `plugins/elementPlus.ts` (#1014)
  src/plugins/elementPlus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: update global-components.d
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: update `global-components.d` (#1015)
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  README.en-US.md
  README.md
  package.json
  pnpm-lock.yaml
  public/sponsors/aitools.svg
  src/layout/components/setting/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 当浏览器窗口的可视区域小于或等于`1280`时隐藏页宽
  src/layout/components/setting/index.vue
  src/layout/index.vue
  src/store/modules/app.ts
  src/store/modules/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `ReSegmented`分段控制器新增`size`属性，以便适配不同的场景
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`Word`、`Excel`预览示例
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/excels.vue
  src/views/able/word.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 优化`size`自适应
  src/components/ReSegmented/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add mqtt client demo use mqtt.js and emqx broker
  .vscode/settings.json
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/mqtt-client.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: add hsMqtt to en.yaml
  locales/en.yaml
Due: none

chore: update
  src/components/ReSegmented/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `ReSegmented`分段控制器新增`size`属性，以便适配不同的场景 (#1016)
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: 更新特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

perf: 系统管理、系统监控兼容移动端
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/monitor/online/index.vue
  src/views/system/dept/index.vue
  src/views/system/dept/utils/hook.tsx
  src/views/system/menu/index.vue
  src/views/system/menu/utils/hook.tsx
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 完善角色管理-菜单权限功能，新颖的交互体验 (#984)
  mock/system.ts
  src/api/system.ts
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-admin-table`添加单行编辑表格的简易用法
  package.json
  pnpm-lock.yaml
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/columns.tsx
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/demo2/columns.tsx
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-admin-table`添加可编辑表格的简易用法
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/table.ts
  src/views/pure-table/edit.vue
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/columns.tsx
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/empty.svg
  src/views/pure-table/edit/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat(components): `segmented`组件新增`block`属性，可使其适合父元素宽度 (#997)
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-admin-table`添加单元格编辑表格的简易用法 (#992)
  locales/zh-CN.yaml
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/demo3/columns.tsx
  src/views/pure-table/edit/demo3/index.vue
  src/views/pure-table/edit/list.tsx
  src/views/pure-table/high/edit/columns.tsx
  src/views/pure-table/high/edit/index.vue
  src/views/pure-table/high/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `ReDialog`组件添加全屏回调事件
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  public/platform-config.json
Due: none

feat: 添加`vue-flow`流程图示例 (#1001)
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/vueflow.ts
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/icon.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/initialElements.ts
  src/views/vue-flow/layouting/processNode.vue
  src/views/vue-flow/layouting/useLayout.ts
  src/views/vue-flow/layouting/useRunProcess.ts
  src/views/vue-flow/layouting/useShuffle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加甘特图示例
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/ganttastic.ts
  src/views/ganttastic/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加表单示例，可通过`JSON`格式配置生成 (#999)
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/form.ts
  src/views/components/check-card.vue
  src/views/schema-form/form/base.vue
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
  src/views/schema-form/form/search.vue
  src/views/schema-form/form/steps.vue
  src/views/schema-form/index.vue
  src/views/schema-form/list.tsx
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加图形验证码示例
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/verify.vue
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: 添加企业赞助商
  README.en-US.md
  README.md
  public/sponsors/aitools.svg
Due: prettier --cache --ignore-unknown --write

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: 在左侧菜单右中侧再加一个折叠展开菜单的功能
  build/info.ts
  src/layout/components/sidebar/centerCollapse.vue
  src/layout/components/sidebar/vertical.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
