Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

workflow: update
  .github/workflows/linter.yml
Due: none

fix: 修复路由`meta.transition.name`配置无效的问题
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化登录页`loading`判断
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: 接口命名规则统一为`kebab-case`串式命名法
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  mock/asyncRoutes.ts
  mock/list.ts
  mock/map.ts
  mock/refreshToken.ts
  public/platform-config.json
  src/api/list.ts
  src/api/mock.ts
  src/api/routes.ts
  src/api/user.ts
  src/config/index.ts
  src/layout/hooks/useLayout.ts
  src/main.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 二次封装`localforage`支持设置过期时间，提供完整的类型提示
  package.json
  pnpm-lock.yaml
  src/utils/localforage/index.ts
  src/utils/localforage/types.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: 修复一些无效链接
  CHANGELOG.en_US.md
  CHANGELOG.md
  src/views/able/download.vue
  src/views/able/pdf.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: `localForage` utils
  src/utils/localforage/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 支持多标签页打开已经登录的系统后无需再登录
  package.json
  pnpm-lock.yaml
  src/layout/components/setting/index.vue
  src/router/index.ts
  src/router/utils.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/permission/page/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 添加`7`天内免登录功能
  locales/en.yaml
  locales/zh-CN.yaml
  src/store/modules/types.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 支持多标签页打开已经登录的系统后无需再登录并添加`7`天内免登录功能 (#747)
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/layout/components/setting/index.vue
  src/router/index.ts
  src/router/utils.ts
  src/store/modules/types.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/login/index.vue
  src/views/permission/page/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
Due: none

feat: 添加系统管理-菜单管理
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  src/views/components/dialog/index.vue
  src/views/system/dept/index.vue
  src/views/system/menu/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化部门管理
  src/views/system/dept/index.vue
  src/views/system/dept/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/dept/index.vue
  src/views/system/role/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/dept/index.vue
  src/views/system/dept/utils/hook.tsx
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
  src/views/system/user/index.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化免登录功能，用户可选择免登录的天数
  locales/en.yaml
  locales/zh-CN.yaml
  src/store/modules/types.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  dist/static/css/index11.css
  dist/static/css/index22.css
  dist/static/css/index27.css
  dist/static/js/columns.js
  dist/static/js/form.vue_vue_type_script_setup_true_lang2.js
  dist/static/js/hook.js
  dist/static/js/hook3.js
  dist/static/js/hooks3.js
  dist/static/js/index.js
  dist/static/js/index.vue_vue_type_script_setup_true_lang16.js
  dist/static/js/index36.js
  dist/static/js/index38.js
  dist/static/js/index39.js
  dist/static/js/index5.js
  dist/static/js/index59.js
  dist/static/js/refresh.js
  dist/static/js/success.js
  dist/static/js/timeline.js
  dist/static/js/verifyCode.js
  dist/static/ttf/iconfont2.ttf
  dist/static/ttf/iconfont3.ttf
  dist/static/woff/iconfont2.woff
  dist/static/woff/iconfont3.woff
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

chore: update
  README.en-US.md
  README.md
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add app footer
  src/layout/components/appMain.vue
  src/layout/components/footer/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化`IconSelect`图标选择器组件，提升用户体验
  src/components/ReIcon/data.ts
  src/components/ReIcon/index.ts
  src/components/ReIcon/src/Select.vue
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/views/able/icon-select.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: add footer global configuration
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/appMain.vue
  src/layout/components/footer/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加页脚 (#758)
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/footer/index.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复视频组件链接失效
  src/views/components/video/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: configure `server.warmup.clientFiles`
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 新增 redirect storage，供登入重導
  src/router/index.ts
  src/router/utils.ts
  src/store/modules/user.ts
  src/utils/responsive.ts
  src/views/login/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修正白名單錯誤 /refreshToken url 為 /refresh-token
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修復 handRefreshToken 接口失效或失敗時重定向至登錄頁
  mock/refreshToken.ts
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 使用`vite-plugin-fake-server`替换`vite-plugin-mock`，使用`@faker-js/faker`替换`mockjs`
  build/cdn.ts
  build/plugins.ts
  mock/asyncRoutes.ts
  mock/list.ts
  mock/login.ts
  mock/map.ts
  mock/refreshToken.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/mockProdServer.ts
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: 添加`AnimateCss`选择器组件`ReAnimateSelector`
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReAnimateSelector/index.ts
  src/components/ReAnimateSelector/src/animate.ts
  src/components/ReAnimateSelector/src/index.vue
  src/router/modules/components.ts
  src/views/components/animatecss/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/components/ReAnimateSelector/src/index.vue
  src/views/components/animatecss/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
