Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 优化并精简`.husky`文件，提升`commit`提交速度 (#1274)
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
Due: none

types: 规范全局自定义指令的`TypeScript`声明，优化`directives.d.ts`文件
  types/directives.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 精简`types/shims-vue.d.ts`类型文件，移除冗余声明
  package.json
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 重构全局类型声明，新增`PascalCase`转`kebab-case`的类型映射，使全局组件在`TSX`中支持`kebab-case`写法并获得完整类型提示
  src/components/ReIcon/src/types.ts
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
  src/utils/propTypes.ts
  src/views/components/dialog/index.vue
  src/views/components/drawer/index.vue
  src/views/monitor/logs/system/hook.tsx
  src/views/system/menu/utils/hook.tsx
  src/views/welcome/components/table/columns.tsx
  tsconfig.json
  types/global-components.d.ts
  types/router.d.ts
  types/shims-tsx.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化`prettier`配置
  .prettierignore
  .prettierrc.js
  src/views/system/menu/README.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  tsconfig.json
Due: none

perf: 优化`prettier`配置
  .lintstagedrc
  .prettierignore
  .prettierrc.js
  src/views/system/menu/README.md
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  .prettierrc.js
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 重构全局类型声明，新增`PascalCase`转`kebab-case`的类型映射，使全局注册的组件在`TSX`中支持`kebab-case`写法并获得完整类型提示 (#1275)
  src/components/ReIcon/src/types.ts
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
  src/utils/propTypes.ts
  src/views/components/dialog/index.vue
  src/views/components/drawer/index.vue
  src/views/monitor/logs/system/hook.tsx
  src/views/system/menu/utils/hook.tsx
  src/views/welcome/components/table/columns.tsx
  tsconfig.json
  types/global-components.d.ts
  types/router.d.ts
  types/shims-tsx.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  package.json
Due: prettier --cache --write

chore: 锁定`axios`版本至`1.14.0`
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: `typescript`升级至`v6`版本 (#1260)
  .nvmrc
  package.json
  pnpm-lock.yaml
  tsconfig.json
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复菜单搜索结果重复显示问题
  src/layout/components/lay-search/components/SearchModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-search/components/SearchModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复菜单搜索结果重复显示的问题 (#1278)
  src/layout/components/lay-search/components/SearchModal.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat(admin): add health admin management pages
  .gitignore
  src/api/admin.ts
  src/router/modules/health-admin.ts
  src/views/admin/admins/index.vue
  src/views/admin/permissions/index.vue
  src/views/admin/rbac/index.vue
  src/views/admin/roles/index.vue
  src/views/admin/users/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(admin): remove legacy GitHub Pages workflow
  .github/workflows/pages.yml
Due: none

docs(admin): rewrite README for ai-user admin console
  README.md
Due: prettier --cache --ignore-unknown --write

添加kimi分支的repo_under.md文档
  repo_under.md
Due: prettier --cache --ignore-unknown --write

feat: `useRenderIcon`通用图标函数支持渲染`SVG`字符串和图片`URL`
  src/components/ReIcon/src/hooks.ts
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix --allow-empty-input

feat(角色管理): 添加角色列表导出功能并优化菜单权限缓存
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 更新依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/flow-chart/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

refactor: `pnpm`升级到 `v11`，要求`Node.js ≥ 22.13.0`版本
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: update
  .github/workflows/linter.yml
  .github/workflows/pages.yml
  package.json
Due: prettier --cache --write

chore: update
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(router): 修复动态添加404路由时重复添加的问题
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  .nvmrc
  pnpm-lock.yaml
Due: none

refactor: `pnpm`升级至`v11`版本，平台运行需`Node.js ≥ 22.22.1`版本 (#1287)
  .github/workflows/linter.yml
  .github/workflows/pages.yml
  .npmrc
  .nvmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

perf: 优化流程图示例
  src/components/ReFlowChart/src/Control.vue
  src/views/flow-chart/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: `LogicFlow`流程图升级至`V2`最新版本
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/views/flow-chart/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
