Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 优化当捕获所有未匹配路由并跳转全屏`404`页面的时机
  src/router/modules/remaining.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 项目`settings.json`添加 Tailwind IntelliSense 推荐配置
  .vscode/settings.json
Due: none

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 显式配置`Tailwind CSS`入口文件路径，优化`Tailwind CSS IntelliSense`插件的上下文识别与提示性能
  .vscode/settings.json
Due: none

perf: 显式配置`Tailwind CSS`入口文件路径，优化`Tailwind CSS IntelliSense`插件的上下文识别与提示性能 (#1228)
  .vscode/settings.json
Due: none

fix: 修复失效链接
  src/views/flow-chart/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`重新加载`frame时同源网站在注册了beforeunload事件后多次拦截确认的问题
  src/layout/frame.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/frame.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复在内嵌同源`iframe`页面中，当其注册了`beforeunload`事件时，右键标签页点击`重新加载`导致浏览器弹出两次确认拦截的问题 (#1229)
  src/layout/frame.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级`@faker-js/faker`至最新`v10`版本
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级`echarts`至最新`v6`版本
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: 修复设置了`keepAlive: true`的页面在初次加载缓慢的情况下出现的页面缓存失效的问题，较难复现，感谢反馈 (#1219)
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复不同路由使用相同参数时，多个标签页会同时被激活的问题 (#1220)
  src/layout/hooks/useTag.ts
  src/store/modules/multiTags.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`params`传参模式下标签页右键菜单显示不正确的问题 (#1221)
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

release: update `6.2.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: 修复导航菜单在使用`iconfont`图标时，选中/激活状态的样式显示异常问题
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

chore: `ReDialog`适配`el-dialog` 最新版本的`API`变更
  package.json
  pnpm-lock.yaml
  src/components/ReDialog/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/views/components/dialog/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: `ReDialog`组件适配`el-dialog`最新版本的`API`变更以及补充相关示例 (#1236)
  package.json
  pnpm-lock.yaml
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: `ReDrawer`组件适配`el-drawer`最新版本的`API`变更以及补充相关示例
  src/components/ReDrawer/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复列设置弹窗多余边框问题
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/views/components/drawer/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: `ReDrawer`组件适配`el-drawer`最新版本的`API`变更以及补充相关示例 (#1238)
  src/components/ReDrawer/type.ts
  src/views/components/drawer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复`RePureTableBar`和`ReVxeTableBar`组件的列设置弹窗样式问题 (#1239)
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加 usePageHeight hook 解决当无法约束子元素溢出的问题
  src/layout/hooks/usePageHeight.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: `message`工具函数适配`ElMessage`最新版本的`API`变更以及补充相关示例
  src/utils/message.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/views/components/message.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
