Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

fix: 修复在safari浏览器中打开其他标签页时，鼠标移入首页标签出现标签重叠问题;
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: 删除无关cnosole;
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Revert "perf: 标签页可按滑动力度进行左右滑动 (#884)"
  package.json
  pnpm-lock.yaml
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 修复在safari浏览器中打开其他标签页时，鼠标移入首页标签出现标签重叠问题;
  src/layout/components/tag/index.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

更新xlsx依赖
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化标签页灵动模式 (#887)
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Revert "perf: 优化标签页灵动模式"
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化标签页灵动模式
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(function): 修复图片裁剪组件右键菜单在裁剪区域无法关闭的问题
  src/components/ReCropper/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 菜单支持`a`标签右键的所有浏览器行为（在新标签页中、新窗口中打开链接，拖拽到新标签页打开等）
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 表格选择器-多选添加`form`查询示例
  src/router/enums.ts
  src/views/pure-table/high/data.ts
  src/views/pure-table/high/table-select/multiple/columns.tsx
  src/views/pure-table/high/table-select/multiple/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加多选卡片组件
  src/components/ReCheckCard/index.ts
  src/components/ReCheckCard/src/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(function): aa
  src/components/ReCropper/src/index.tsx
  src/router/enums.ts
  src/views/pure-table/high/data.ts
  src/views/pure-table/high/table-select/multiple/columns.tsx
  src/views/pure-table/high/table-select/multiple/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(function): aa
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(function): 为图片裁剪组件添加裁剪区域能够关闭右键菜单的功能
  src/components/ReCropper/src/index.tsx
  src/views/components/cropping/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复右侧功能面包缩小后突然拉伸内部高度并没铺满的问题
  src/layout/components/panel/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复右侧功能面板缩小后突然拉伸，内部高度未立刻铺满的问题
  src/layout/components/panel/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/components/ReCropper/src/index.tsx
  src/views/components/cropping/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 图片裁剪组件默认可通过点击裁剪区域关闭右键弹出的功能菜单 (#894)
  src/components/ReCropper/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat(ReText): 新增ReText组件 - 基于El-Text, 增加自动省略显示Tooltip功能, 高可复用性
  src/components/ReText/index.ts
  src/components/ReText/src/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(Menu): 改用ReText实现菜单超出显示Tooltip功能, 精简大量代码
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 菜单搜索新增搜索历史和收藏功能
  public/platform-config.json
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchHistoryItem.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/search/components/SearchResult.vue
  src/layout/components/search/types.ts
  src/utils/localforage/index.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: update
  src/layout/components/panel/index.vue
  src/style/element-plus.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(ReText): tooltip改用tippy
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/main.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(Menu): 父菜单显示异常修正
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(Menu): 深色模式tippy使用默认主题
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): tippy 引入方式改为Composition API
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 增加Demo页面
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/text.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 增加监听关闭参数和对应demo
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/views/components/text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix(Menu): 多个菜单样式异常修正
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(Menu): 去除多余依赖
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加系统管理-菜单管理
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  src/views/system/menu/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化`PureTableBar`组件
  package.json
  pnpm-lock.yaml
  src/components/RePureTableBar/src/bar.tsx
  src/views/system/dept/form.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix
