Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: `message`工具函数适配`ElMessage`最新版本的`API`变更以及补充相关示例 (#1241)
  src/utils/message.ts
  src/views/components/message.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 导入`element-plus`最新版本的新组件
  src/plugins/elementPlus.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加颜色选择器面板组件
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/color-picker-panel.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加颜色选择器面板组件 (#1242)
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/color-picker-panel.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

style: 调整Chrome风格下，Tab页签之间的竖线显示样式
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化页签风格为谷歌模式下的布局和样式 (#1245)
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 将系统配置中的“整体风格”更名为“主题模式”，“导航模式”更名为“菜单布局”，以提升命名的专业性与清晰度
  CHANGELOG.zh_CN.md
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/store/modules/app.ts
  src/store/modules/epTheme.ts
  src/utils/responsive.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  public/platform-config.json
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/utils/responsive.ts
  src/views/account-settings/index.vue
  src/views/login/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 将系统配置中的“整体风格”更名为“主题模式”，“导航模式”更名为“菜单布局”，以提升命名的专业性与清晰度 (#1247)
  CHANGELOG.zh_CN.md
  locales/en.yaml
  locales/zh-CN.yaml
  public/platform-config.json
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/store/modules/app.ts
  src/store/modules/epTheme.ts
  src/utils/responsive.ts
  src/views/account-settings/index.vue
  src/views/login/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
  src/directives/ripple/index.ts
  src/utils/localforage/types.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 迁移`typescript-eslint`已弃用的`tseslint.config`配置方式
  eslint.config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 根据`tailwindcss`推荐优化类名
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-panel/index.vue
  src/layout/components/lay-setting/index.vue
  src/views/account-settings/index.vue
  src/views/components/cascader.vue
  src/views/components/upload/index.vue
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/system/user/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

refactor: 将全局配置文件 `platform-config.json`中的`ShowModel`重命名为`TagsStyle`，以更准确地反映其语义
  public/platform-config.json
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-tag/index.vue
  src/layout/hooks/useLayout.ts
  src/layout/hooks/useTag.ts
  src/utils/mitt.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `RePureTableBar`与`ReVxeTableBar`组件实现全量文本国际化
  locales/en.yaml
  locales/zh-CN.yaml
Due: none

chore: add `better-tailwindcss/enforce-canonical-classes`
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-panel/index.vue
  src/views/able/excel.vue
  src/views/account-settings/components/AccountManagement.vue
  src/views/account-settings/components/Preferences.vue
  src/views/account-settings/components/Profile.vue
  src/views/account-settings/components/SecurityLog.vue
  src/views/account-settings/index.vue
  src/views/components/upload/index.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

release: update `6.3.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: 升级`vite-plugin-router-warn`至`v2`版本，兼容最新版的`vue-router`
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: 更新AccessToken失败后，跳转到登录页面
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `layout`右上角的操作按钮添加动效
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-notice/index.vue
  src/layout/components/lay-search/index.vue
  src/layout/components/lay-sidebar/components/SidebarFullScreen.vue
  src/style/index.scss
  src/style/sidebar.scss
  src/style/tailwind.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-search/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/layout/components/lay-sidebar/components/SidebarFullScreen.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化系统配置面板
  src/layout/components/lay-panel/index.vue
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 重构`API`接口响应格式，带来简洁高效的接口设计
  mock/list.ts
  src/api/list.ts
  src/views/list/card/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化主题色选项风格
  src/layout/components/lay-setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 系统配置面板新增全屏水印功能
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 升级`vite`至`v8`版本，从`esbuild`和`Rollup`转向`Rolldown`和`Oxc`
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: `typescript`升级至`V6`版本
  package.json
  pnpm-lock.yaml
  tsconfig.json
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 升级依赖，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/views/tabs/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 优化系统配置面板 (#1255)
  src/layout/components/lay-panel/index.vue
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
