Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 函数式弹框`ReDialog`添加点击确认按钮后是否开启`loading`加载动画功能
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `PureTableBar`组件添加全屏和退出全屏功能
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `VxeTableBar`组件添加全屏和退出全屏功能
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `ReDialog`组件的确定按钮提供关闭按钮动画`closeLoading`功能
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 新增第二种按钮权限指令（根据登录接口返回的`permissions`字段进行判断）
  .vscode/settings.json
  mock/login.ts
  src/api/user.ts
  src/components/RePerms/index.ts
  src/components/RePerms/src/perms.tsx
  src/directives/index.ts
  src/directives/perms/index.ts
  src/main.ts
  src/router/utils.ts
  src/store/modules/user.ts
  src/store/types.ts
  src/utils/auth.ts
  types/directives.d.ts
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  mock/login.ts
  mock/system.ts
  src/utils/auth.ts
  src/views/permission/button/perms.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/utils/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 新增第二种按钮权限指令（根据登录接口返回的`permissions`字段进行判断） (#1177)
  .vscode/settings.json
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  mock/login.ts
  mock/system.ts
  src/api/user.ts
  src/components/RePerms/index.ts
  src/components/RePerms/src/perms.tsx
  src/directives/index.ts
  src/directives/perms/index.ts
  src/main.ts
  src/router/utils.ts
  src/store/modules/user.ts
  src/store/types.ts
  src/utils/auth.ts
  src/views/permission/button/perms.vue
  types/directives.d.ts
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，`element-plus`最新版兼容处理
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/Select.vue
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/monitor/online/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/table/base/tree.vue
  src/views/table/high/adaptive/columns.tsx
  src/views/table/high/page/columns.tsx
  src/views/table/high/page/index.vue
  src/views/table/high/table-select/multiple/columns.tsx
  src/views/table/high/table-select/radio/columns.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

release: update `5.8.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

feat(layout): add deletion of menu items via middle click for better ux
  src/layout/components/lay-tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
Due: prettier --cache --write

feat: 函数式抽屉组件
  src/App.vue
  src/components/ReDrawer/index.ts
  src/components/ReDrawer/index.vue
  src/components/ReDrawer/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加ReDrawer demo
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/drawer/form.vue
  src/views/components/drawer/formPrimitive.vue
  src/views/components/drawer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 组件ReDrawer 增加按钮loading等功能
  src/components/ReDrawer/index.vue
  src/components/ReDrawer/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  .nvmrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/style/element-plus.scss
  src/views/system/dept/utils/hook.tsx
  src/views/system/menu/utils/hook.tsx
  src/views/system/role/utils/hook.tsx
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix --allow-empty-input

chore: 升级`i18n`相关依赖，相关兼容处理
  build/plugins.ts
  package.json
  pnpm-lock.yaml
  src/plugins/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: `pure-table`添加动态表头示例
  src/views/table/high/excel/index.vue
  src/views/table/high/header/columns.tsx
  src/views/table/high/header/index.vue
  src/views/table/high/list.tsx
  src/views/table/high/prints/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复在菜单、部门管理中，表格展开后启用或关闭全屏功能时，表格高度未自动适应的问题
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
  src/views/system/dept/index.vue
  src/views/system/menu/index.vue
  src/views/table/high/header/columns.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化用户管理左侧部门树的布局
  src/views/system/user/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReDrawer/index.vue
  src/views/components/dialog/index.vue
  src/views/components/drawer/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReDrawer/type.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
Due: none

feat: 新增函数式抽屉组件 (#1183)
  locales/en.yaml
  locales/zh-CN.yaml
  src/App.vue
  src/components/ReDrawer/index.ts
  src/components/ReDrawer/index.vue
  src/components/ReDrawer/type.ts
  src/router/modules/components.ts
  src/views/components/drawer/form.vue
  src/views/components/drawer/formPrimitive.vue
  src/views/components/drawer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: 更新特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: 升级依赖，相关兼容处理
  build/info.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 固定`sass`版本至`v1.79.6`，待稳定后再升级
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 升级`vite`至`v6`版本，升级`sass`至最新版，重构主题写法，删除`@pureadmin/theme`
  .nvmrc
  build/optimize.ts
  build/plugins.ts
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/theme/index.ts
  src/style/index.scss
  src/style/sidebar.scss
  src/style/theme.scss
  src/views/account-settings/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/utils/print.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 使用`code-inspector-plugin`替换`vite-plugin-vue-inspector`
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
