Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

wip: dev safe-manage in user-settings module
  src/layout/components/userSettings/safeManage.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-admin-table`添加单元格编辑表格的简易用法
  locales/zh-CN.yaml
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/demo3/columns.tsx
  src/views/pure-table/edit/demo3/index.vue
  src/views/pure-table/edit/list.tsx
  src/views/pure-table/high/edit/columns.tsx
  src/views/pure-table/high/edit/index.vue
  src/views/pure-table/high/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/demo3/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-admin-table`添加单元格编辑表格的简易用法 (#992)
  locales/zh-CN.yaml
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/demo3/columns.tsx
  src/views/pure-table/edit/demo3/index.vue
  src/views/pure-table/edit/list.tsx
  src/views/pure-table/high/edit/columns.tsx
  src/views/pure-table/high/edit/index.vue
  src/views/pure-table/high/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `segmented`组件新增`block`属性，可将宽度调整为父元素宽度
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 初始化项目prettier路径, 使项目本身的prettier规则生效
  .vscode/settings.json
Due: none

chore: update
  src/components/ReSegmented/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: 保持行为样式一致性
  src/components/ReSegmented/src/index.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

feat: 添加表单示例，可通过`JSON`格式配置生成
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/form.ts
  src/views/components/check-card.vue
  src/views/schema-form/form/base.vue
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
  src/views/schema-form/form/search.vue
  src/views/schema-form/form/steps.vue
  src/views/schema-form/index.vue
  src/views/schema-form/list.tsx
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  public/platform-config.json
Due: none

feat(components): `segmented`组件新增`block`属性，可使其适合父元素宽度 (#997)
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`vue-flow`流程图示例
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/vueflow.ts
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/initialElements.ts
  src/views/vue-flow/layouting/processNode.vue
  src/views/vue-flow/layouting/useRunProcess.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/icon.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/initialElements.ts
  src/views/vue-flow/layouting/processNode.vue
  src/views/vue-flow/layouting/useLayout.ts
  src/views/vue-flow/layouting/useRunProcess.ts
  src/views/vue-flow/layouting/useShuffle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/processNode.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/router/modules/vueflow.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加`vue-flow`流程图示例 (#1001)
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/vueflow.ts
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/icon.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/initialElements.ts
  src/views/vue-flow/layouting/processNode.vue
  src/views/vue-flow/layouting/useLayout.ts
  src/views/vue-flow/layouting/useRunProcess.ts
  src/views/vue-flow/layouting/useShuffle.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/plugins/vxeTable.ts
  src/style/dark.scss
  src/views/table/virtual/list.vue
  src/views/table/virtual/treeList.vue
  src/views/vue-flow/layouting/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加甘特图示例
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/ganttastic.ts
  src/views/ganttastic/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加图形验证码示例
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/verify.vue
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: 添加企业赞助商
  README.en-US.md
  README.md
  public/sponsors/aitools.svg
Due: prettier --cache --ignore-unknown --write

chore: update
  package.json
  pnpm-lock.yaml
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
  src/views/schema-form/form/search.vue
  src/views/schema-form/form/steps.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/schema-form/form/base.vue
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加表单示例，可通过`JSON`格式配置生成 (#999)
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/form.ts
  src/views/components/check-card.vue
  src/views/schema-form/form/base.vue
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
  src/views/schema-form/form/search.vue
  src/views/schema-form/form/steps.vue
  src/views/schema-form/index.vue
  src/views/schema-form/list.tsx
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
  src/layout/components/footer/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/footer/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: 在左侧菜单右中侧再加一个折叠展开菜单的功能
  build/info.ts
  src/layout/components/sidebar/centerCollapse.vue
  src/layout/components/sidebar/vertical.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
