Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: done
  mock/asyncRoutes.ts
  mock/system.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/router/modules/components.ts
  src/views/system/menu/form.vue
  src/views/system/menu/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/menu/form.vue
  src/views/system/menu/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

release: update `5.0.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

feat: 菜单支持a标签右键的所有浏览器行为（在新标签页中、新窗口中打开链接，拖拽到新标签页打开等）
  src/layout/components/sidebar/linkItem.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/layout/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复注册布局滚动条bug
  src/style/login.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: 修复`windows`系统下登录页出现滚动条的问题 (#940)
  src/style/login.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix(layout): 修复切换注册登录出现滚动条出现又隐藏
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 修复添加a标签样式问题
  src/layout/components/sidebar/linkItem.vue
  src/layout/components/sidebar/logo.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 修复windows下双滚动条问题
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat: 修复添加a标签样式问题
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

perf: 规范注册本地图标时的命名规则，使其更好地配合图标选择器
  src/components/ReIcon/src/offlineIcon.ts
  src/layout/components/search/index.vue
  src/layout/types.ts
  src/router/modules/able.ts
  src/router/modules/about.ts
  src/router/modules/board.ts
  src/router/modules/editor.ts
  src/router/modules/error.ts
  src/router/modules/flowchart.ts
  src/router/modules/formdesign.ts
  src/router/modules/guide.ts
  src/router/modules/home.ts
  src/router/modules/list.ts
  src/router/modules/nested.ts
  src/router/modules/ppt.ts
  src/router/modules/result.ts
  src/router/modules/table.ts
  src/views/components/segmented.vue
  src/views/list/card/index.vue
  src/views/system/dept/index.vue
  src/views/system/menu/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
  src/views/welcome/components/table/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加多选卡片示例
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/components.ts
  src/views/components/check-card.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  public/platform-config.json
  src/layout/components/search/components/SearchFooter.vue
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchHistoryItem.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/search/components/SearchResult.vue
  src/layout/components/search/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: update
  src/layout/components/search/components/SearchHistory.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/sidebar/linkItem.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 菜单支持`a`标签右键的所有浏览器行为（在新标签页中、新窗口中打开链接，拖拽到新标签页打开等） (#936)
  src/layout/components/sidebar/linkItem.vue
  src/layout/components/sidebar/logo.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/layout/types.ts
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: 重构标签页`UI`，点击关闭按钮更方便
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

style: 重构标签页`UI`，点击关闭按钮更方便 (#950)
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 适配最新版`element-plus v2.6.0`
  package.json
  pnpm-lock.yaml
  src/components/ReCropper/src/index.tsx
  src/components/RePureTableBar/src/bar.tsx
  src/router/modules/board.ts
  src/style/element-plus.scss
  src/views/components/check-button.vue
  src/views/components/check-card.vue
  src/views/components/collapse.vue
  src/views/components/color-picker.vue
  src/views/components/date-picker.vue
  src/views/components/datetime-picker.vue
  src/views/components/el-button.vue
  src/views/components/tag.vue
  src/views/components/time-picker.vue
  src/views/list/card/components/DialogForm.vue
  src/views/pure-table/base/layout.vue
  src/views/pure-table/high/page/index.vue
  src/views/pure-table/high/table-select/index.vue
  src/views/pure-table/high/table-select/multiple/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 菜单搜索新增搜索历史和收藏功能
  src/layout/components/search/components/SearchHistory.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/search/components/SearchHistory.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  public/platform-config.json
Due: none

feat: 菜单搜索新增搜索历史和收藏功能 (#901)
  public/platform-config.json
  src/layout/components/search/components/SearchFooter.vue
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchHistoryItem.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/search/components/SearchResult.vue
  src/layout/components/search/types.ts
  src/utils/localforage/index.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

release: update `5.1.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

feat: 添加系统监控页面示例
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  mock/system.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/views/monitor/login-log.vue
  src/views/monitor/online-user.vue
  src/views/monitor/operation-log.vue
  src/views/monitor/system-log.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  mock/asyncRoutes.ts
  src/views/monitor/logs/login.vue
  src/views/monitor/logs/operation.vue
  src/views/monitor/logs/system.vue
  src/views/monitor/online.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  mock/asyncRoutes.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  mock/system.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 完成系统监控-在线用户
  mock/asyncRoutes.ts
  mock/system.ts
  src/api/system.ts
  src/views/monitor/online.vue
  src/views/monitor/online/hook.tsx
  src/views/monitor/online/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
