Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/account-settings/components/accountManagement.vue
  src/views/account-settings/components/preferences.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/account-settings/components/accountManagement.vue
  src/views/account-settings/components/preferences.vue
  src/views/account-settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 安全日志
  mock/mine.ts
  src/api/user.ts
  src/views/account-settings/components/securityLog.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 移动端兼容
  src/views/account-settings/components/accountManagement.vue
  src/views/account-settings/components/preferences.vue
  src/views/account-settings/components/profile.vue
  src/views/account-settings/components/securityLog.vue
  src/views/account-settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  mock/login.ts
  mock/mine.ts
  mock/system.ts
  src/components/ReCropperPreview/index.ts
  src/components/ReCropperPreview/src/index.vue
  src/components/ReDialog/index.vue
  src/components/ReFlop/src/index.vue
  src/components/ReText/src/index.vue
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/hooks/useNav.ts
  src/store/modules/types.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/account-settings/components/profile.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加账户设置功能页面且兼容移动端 (#1022)
  locales/en.yaml
  locales/zh-CN.yaml
  mock/login.ts
  mock/mine.ts
  mock/system.ts
  src/api/user.ts
  src/components/ReCropperPreview/index.ts
  src/components/ReCropperPreview/src/index.vue
  src/components/ReDialog/index.vue
  src/components/ReFlop/src/index.vue
  src/components/ReText/src/index.vue
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/hooks/useNav.ts
  src/router/modules/remaining.ts
  src/store/modules/types.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/views/account-settings/components/accountManagement.vue
  src/views/account-settings/components/preferences.vue
  src/views/account-settings/components/profile.vue
  src/views/account-settings/components/securityLog.vue
  src/views/account-settings/index.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: 更新特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore(deps): update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级`eslint9`，相关兼容处理
  .eslintignore
  eslint.config.js
  locales/en.yaml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/ReCountTo/src/normal/index.tsx
  src/components/ReSeamlessScroll/src/index.vue
  src/components/ReSeamlessScroll/src/utils.ts
  src/components/ReSplitPane/iconfont/iconfont.js
  src/layout/components/tag/index.vue
  src/plugins/i18n.ts
  src/utils/print.ts
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

perf: 优化获取顶级菜单逻辑
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化请求白名单逻辑，兼容更多场景
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复当一个页面存在多个`RePureTableBar`组件，列无法正常拖动问题
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复三级菜单向左折叠后图标显示样式问题
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复账户设置页面，刷新后字体颜色未生效的问题
  src/views/account-settings/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 简化`store`文件中导出和导入用法
  src/store/modules/app.ts
  src/store/modules/epTheme.ts
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/store/types.ts
  src/store/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 移除非必要的`cloc`工具依赖包，它使用`GPL`开源许可证具有争议性
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

types: 优`src/utils/http`文件中`post`和`get`工具函数的类型
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加全局配置`MaxTagsLevel`属性，可设置打开标签页最大数
  src/store/modules/multiTags.ts
  src/store/utils.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 框架核心代码国际化全量覆盖（仅需处理业务代码国际化即可）
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/search/components/SearchFooter.vue
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/sidebar/centerCollapse.vue
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/components/sidebar/topCollapse.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  CHANGELOG.zh_CN.md
  locales/en.yaml
  locales/zh-CN.yaml
  src/config/index.ts
  src/layout/components/appMain.vue
  src/layout/components/navbar.vue
  src/layout/components/notice/index.vue
  src/layout/components/notice/noticeList.vue
  src/layout/components/panel/index.vue
  src/layout/components/search/components/SearchFooter.vue
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/setting/index.vue
  src/layout/components/sidebar/centerCollapse.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/sidebar/topCollapse.vue
  src/layout/index.vue
  src/style/dark.scss
  src/utils/responsive.ts
  src/views/guide/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/api/user.ts
  src/layout/hooks/useNav.ts
  src/router/utils.ts
  src/utils/auth.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReSegmented/src/index.tsx
  src/layout/components/setting/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 框架核心代码国际化全量覆盖（仅需处理业务代码国际化即可） (#1082)
  CHANGELOG.zh_CN.md
  locales/en.yaml
  locales/zh-CN.yaml
  src/api/user.ts
  src/components/ReSegmented/src/index.tsx
  src/config/index.ts
  src/layout/components/appMain.vue
  src/layout/components/navbar.vue
  src/layout/components/notice/index.vue
  src/layout/components/notice/noticeList.vue
  src/layout/components/panel/index.vue
  src/layout/components/search/components/SearchFooter.vue
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/setting/index.vue
  src/layout/components/sidebar/centerCollapse.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/sidebar/topCollapse.vue
  src/layout/hooks/useNav.ts
  src/layout/index.vue
  src/router/utils.ts
  src/style/dark.scss
  src/utils/auth.ts
  src/utils/responsive.ts
  src/views/guide/index.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复调用刷新`token`接口时，`refreshToken`参数为空的问题
  src/utils/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/list.ts
  src/views/account-settings/components/AccountManagement.vue
  src/views/account-settings/components/Preferences.vue
  src/views/account-settings/components/Profile.vue
  src/views/account-settings/components/SecurityLog.vue
  src/views/account-settings/index.vue
  src/views/editor/components/EditorBase.vue
  src/views/editor/components/EditorMulti.vue
  src/views/editor/components/EditorUpload.vue
  src/views/editor/components/index.ts
  src/views/editor/index.vue
  src/views/list/card/components/ListCard.vue
  src/views/list/card/components/ListDialogForm.vue
  src/views/list/card/index.vue
  src/views/login/components/LoginPhone.vue
  src/views/login/components/LoginQrCode.vue
  src/views/login/components/LoginRegist.vue
  src/views/login/components/LoginUpdate.vue
  src/views/login/index.vue
  src/views/welcome/components/WelcomeCharts/ChartBar.vue
  src/views/welcome/components/WelcomeCharts/ChartLine.vue
  src/views/welcome/components/WelcomeCharts/ChartRound.vue
  src/views/welcome/components/WelcomeCharts/index.ts
  src/views/welcome/components/WelcomeTable/columns.tsx
  src/views/welcome/components/WelcomeTable/empty.svg
  src/views/welcome/components/WelcomeTable/index.vue
  src/views/welcome/components/chart/index.ts
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

style: update
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

release: update `5.4.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: onCropper
  src/views/account-settings/components/Profile.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化账号设置-头像上传功能
  src/views/account-settings/components/Profile.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 新组件`ReVxeTableBar`搭配`vxe-table`使用
  src/assets/table-bar/collapse.svg
  src/assets/table-bar/drag.svg
  src/assets/table-bar/expand.svg
  src/assets/table-bar/refresh.svg
  src/assets/table-bar/settings.svg
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/index.ts
  src/components/ReVxeTableBar/src/bar.tsx
  src/plugins/vxeTable.ts
  src/views/table/virtual/list.tsx
  src/views/table/virtual/pageList.vue
  src/views/table/virtual/treeList.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 减少welcome页面的重复代码
  src/views/welcome/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/plugins/vxeTable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
