Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update
  src/api/user.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

style: 深色模式app-main-nofixed-header未同步设置背景色修正
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

chore: update
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/store/modules/app.ts
  src/store/modules/epTheme.ts
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/store/utils.ts
  src/views/able/excels.vue
  src/views/able/word.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

style: update
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/views/welcome/components/charts/ChartBar.vue
  src/views/welcome/components/charts/ChartLine.vue
  src/views/welcome/components/charts/ChartRound.vue
  src/views/welcome/components/charts/index.ts
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/empty.svg
  src/views/welcome/components/table/index.vue
  src/views/welcome/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Update vite.config.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update utils.ts
  build/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 调用刷新`token`接口报错，重定向处理
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: revise typo (#1103)
  build/utils.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 重构`layout`文件命名规范，更易读
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-footer/index.vue
  src/layout/components/lay-frame/FrameView.vue
  src/layout/components/lay-frame/index.vue
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-notice/NoticeItem.vue
  src/layout/components/lay-notice/NoticeList.vue
  src/layout/components/lay-notice/data.ts
  src/layout/components/lay-notice/index.vue
  src/layout/components/lay-panel/index.vue
  src/layout/components/lay-search/components/SearchFooter.vue
  src/layout/components/lay-search/components/SearchHistory.vue
  src/layout/components/lay-search/components/SearchHistoryItem.vue
  src/layout/components/lay-search/components/SearchModal.vue
  src/layout/components/lay-search/components/SearchResult.vue
  src/layout/components/lay-search/components/index.ts
  src/layout/components/lay-search/index.vue
  src/layout/components/lay-search/types.ts
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/layout/components/lay-sidebar/NavVertical.vue
  src/layout/components/lay-sidebar/components/SidebarBreadCrumb.vue
  src/layout/components/lay-sidebar/components/SidebarCenterCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarExtraIcon.vue
  src/layout/components/lay-sidebar/components/SidebarFullScreen.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/layout/components/lay-sidebar/components/SidebarLeftCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarLinkItem.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/components/lay-sidebar/components/SidebarTopCollapse.vue
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
  src/layout/hooks/useMultiFrame.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复函数式弹窗延时关闭无效问题
  src/components/ReDialog/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复函数式弹窗点击取消按钮，延时关闭无效问题 (#1112)
  src/components/ReDialog/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-search/components/SearchFooter.vue
  src/layout/components/lay-search/components/SearchModal.vue
  src/layout/components/lay-search/components/SearchResult.vue
  src/layout/components/lay-search/components/index.ts
  src/layout/components/lay-search/index.vue
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/layout/components/lay-sidebar/NavVertical.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/layout/components/lay-sidebar/components/SidebarLinkItem.vue
  src/layout/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-frame/index.vue
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-notice/components/NoticeList.vue
  src/layout/components/lay-notice/index.vue
  src/layout/components/lay-panel/index.vue
  src/layout/components/lay-search/components/SearchHistoryItem.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/frame.vue
  src/layout/index.vue
  src/router/modules/board.ts
  src/router/modules/formdesign.ts
  src/router/modules/mind.ts
  src/router/modules/ppt.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-notice/components/NoticeList.vue
  src/layout/components/lay-notice/data.ts
  src/layout/components/lay-notice/index.vue
  src/views/account-settings/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReCropperPreview/src/index.vue
  src/components/ReFlowChart/src/DataDialog.vue
  src/components/ReFlowChart/src/NodePanel.vue
  src/components/ReSeamlessScroll/src/index.vue
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-frame/index.vue
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-search/components/SearchFooter.vue
  src/layout/components/lay-sidebar/components/SidebarCenterCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarExtraIcon.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/layout/components/lay-sidebar/components/SidebarLeftCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/components/lay-sidebar/components/SidebarTopCollapse.vue
  src/views/monitor/logs/system/detail.vue
  src/views/system/user/tree.vue
  src/views/table/base/fixColumn.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 国际化切换添加繁體中文支持
  locales/en-US.yaml
  locales/zh-TW.yaml
Due: none

修复返回值类型问题
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 新组件`ReVxeTableBar`搭配`vxe-table`使用 (#1087)
  src/assets/table-bar/collapse.svg
  src/assets/table-bar/drag.svg
  src/assets/table-bar/expand.svg
  src/assets/table-bar/refresh.svg
  src/assets/table-bar/settings.svg
  src/components/ReVxeTableBar/index.ts
  src/components/ReVxeTableBar/src/bar.tsx
  src/plugins/vxeTable.ts
  src/views/table/virtual/list.tsx
  src/views/table/virtual/pageList.vue
  src/views/table/virtual/treeList.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

ci: add `pages.yml`
  .github/workflows/pages.yml
Due: none

chore: 更新依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/login/components/LoginPhone.vue
  src/views/login/components/LoginRegist.vue
  src/views/login/components/LoginUpdate.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

docs: 更换文档站和完整版预览站地址
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  README.en-US.md
  README.md
  build/info.ts
  mock/asyncRoutes.ts
  mock/system.ts
  src/components/ReIcon/src/hooks.ts
  src/components/ReSegmented/src/type.ts
  src/views/about/columns.tsx
  src/views/system/menu/README.md
  src/views/table/base/imgPreview.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  .github/workflows/pages.yml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  index.html
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input
