Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update `element-plus^2.5.0`
  package.json
  pnpm-lock.yaml
  src/views/welcome/components/table/columns.tsx
  src/views/welcome/components/table/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 优化导航，弹出的菜单超出内容区自适应且可滚动 (#858)
  pnpm-lock.yaml
  public/platform-config.json
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/layout/components/sidebar/vertical.vue
  src/style/dark.scss
  src/style/element-plus.scss
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style: 移除`iframe`在暗模式下的滤镜效果
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: 优化演示代码
  package.json
  pnpm-lock.yaml
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
  src/views/able/print/index.vue
  src/views/error/403.vue
  src/views/error/404.vue
  src/views/error/500.vue
  src/views/permission/page/index.vue
  src/views/pure-table/high.vue
  src/views/pure-table/high/list.tsx
  src/views/pure-table/high/table-select/multiple/index.vue
  src/views/pure-table/high/table-select/radio/index.vue
  src/views/pure-table/high/watermark/columns.tsx
  src/views/pure-table/index.vue
  src/views/result/columns.tsx
  src/views/result/fail.vue
  src/views/result/success.vue
  src/views/system/dept/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 更新表格选择器示例
  package.json
  pnpm-lock.yaml
  src/views/pure-table/high/data.ts
  src/views/pure-table/high/table-select/multiple/columns.tsx
  src/views/pure-table/high/table-select/multiple/index.vue
  src/views/pure-table/high/table-select/radio/columns.tsx
  src/views/pure-table/high/table-select/radio/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: rm tag repeat condition
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 优化演示示例
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/able.ts
  src/router/modules/components.ts
  src/router/modules/puredoc.ts
  src/router/modules/pureutils.ts
  src/router/modules/table.ts
  src/views/able/cascader.vue
  src/views/able/debounce.vue
  src/views/able/infinite-scroll.vue
  src/views/able/line-tree.vue
  src/views/able/sensitive.vue
  src/views/able/swiper.vue
  src/views/able/virtual-list/horizontal.vue
  src/views/able/virtual-list/index.vue
  src/views/able/virtual-list/vertical.vue
  src/views/able/watermark.vue
  src/views/components/contextmenu/basic.vue
  src/views/components/contextmenu/menuDynamic.vue
  src/views/components/contextmenu/menuGroup.vue
  src/views/components/seamless-scroll/index.vue
  src/views/components/selector/index.vue
  src/views/permission/button/index.vue
  src/views/permission/page/index.vue
  src/views/pure-table/high.vue
  src/views/pure-table/index.vue
  src/views/tabs/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 删除`src/layout/components/tag/index.vue`文件中多余的判断条件
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: 搜索菜单功能的`placeholder`更好的移动端兼容
  src/style/element-plus.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

perf: 降低整体页面持续拖拉时的性能损耗
  src/components/ReCropper/src/index.tsx
  src/layout/components/search/components/SearchResult.vue
  src/layout/components/tag/index.vue
  src/layout/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore(deps): update and `.nvmrc v20.11.0`
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf: 更新`src/plugins`文件，更明确的注释说明
  src/main.ts
  src/plugins/echarts.ts
  src/plugins/element-plus/index.ts
  src/plugins/elementPlus.ts
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复登录按钮的loading未等待接口处理完成问题
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化在登陆页点击登录按钮时的内部逻辑 (#867)
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 升级 `@pureadmin/utils^2.4.0` 将使用成本降到极低
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 提高`node`版本要求，为后续升级`eslint9`做准备
  package.json
Due: prettier --cache --write

refactor: 重构关于页面，整体更紧致，关键信息更突出
  build/utils.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/about.ts
  src/router/modules/formdesign.ts
  src/views/about/columns.tsx
  src/views/about/index.vue
  src/views/flow-chart/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: `Review`所有演示页，修复开发环境下可避免的警告以及保持所有演示页风格大致统一
  src/layout/components/navbar.vue
  src/layout/components/search/index.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/router/enums.ts
  src/views/able/watermark.vue
  src/views/about/index.vue
  src/views/components/draggable/index.vue
  src/views/components/segmented/index.vue
  src/views/components/waterfall/index.vue
  src/views/editor/index.vue
  src/views/flow-chart/index.vue
  src/views/guide/index.vue
  src/views/permission/button/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加艺术画板功能，比如可以用来绘制一些设计思想架构图
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/board.ts
  src/router/modules/formdesign.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加整体风格自适应操作系统浅色、深色、自动主题功能，让平台更加现代化
  README.md
  public/logo.svg
  src/assets/login/avatar.svg
  src/assets/svg/system.svg
  src/components/ReFlowChart/src/assets/iconfont/iconfont.svg
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/style/dark.scss
  src/style/element-plus.scss
  src/utils/responsive.ts
  src/views/components/message/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  README.md
  public/platform-config.json
  src/components/ReSegmented/src/index.tsx
  src/components/ReSegmented/src/type.ts
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/utils/responsive.ts
  src/views/login/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加整体风格自适应操作系统浅色、深色、自动主题功能，让平台充满现代气息 (#869)
  README.md
  public/logo.svg
  public/platform-config.json
  src/assets/login/avatar.svg
  src/assets/svg/system.svg
  src/components/ReFlowChart/src/assets/iconfont/iconfont.svg
  src/components/ReSegmented/src/index.tsx
  src/components/ReSegmented/src/type.ts
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/hooks/useLayout.ts
  src/layout/index.vue
  src/style/dark.scss
  src/style/element-plus.scss
  src/utils/responsive.ts
  src/views/components/message/index.vue
  src/views/login/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复演示页相关问题
  src/components/ReCropper/src/index.tsx
  src/views/components/danmaku/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 用户管理-上传头像中弹框关闭立刻销毁内部`popover`，避免延迟关闭影响用户体验
  src/views/system/user/upload.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化`layout`右上侧功能区的`hover`样式，使整体更加协调
  src/layout/theme/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

pref: keep alive iframe
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/keepAliveFrame/index.vue
  src/layout/components/keepAliveFrame/useMultiFrame.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

pref: default maxCount is 10 item
  public/platform-config.json
Due: none

chore: update
  src/App.vue
  src/layout/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
