Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级依赖，相关兼容处理
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: segmented component global disabled
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 分段控制器组件添加全局禁用属性`disabled` (#1043)
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: add farm startup mode
  build/info.ts
  build/plugins.ts
  build/utils.ts
  farm.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/plugins/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

feat: add farm startup mode
  build/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加思维导图示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/board.ts
  src/router/modules/formdesign.ts
  src/router/modules/mind.ts
  src/router/modules/ppt.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 函数式弹出框新增确认框`ElPopconfirm`按钮
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 路由添加可配置的`fixedTag`属性，作用为当前菜单是否固定显示在标签页且不可关闭
  mock/asyncRoutes.ts
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/router/modules/able.ts
  src/router/modules/list.ts
  src/router/modules/nested.ts
  src/router/modules/ppt.ts
  src/router/modules/table.ts
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
  src/views/system/menu/index.vue
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 设置`fixedTag`后，不可通过关闭其他标签页将其关闭
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

ci: node.js 16 actions are deprecated
  .github/workflows/linter.yml
Due: none

chore: update
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  .github/workflows/linter.yml
Due: none

workflow: update node-version (#1051)
  .github/workflows/linter.yml
Due: none

perf: 优化登录接口
  src/store/modules/user.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/components/dialog/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 函数式弹框`ReDialog`添加`Popconfirm`气泡确认框 (#1046)
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: `pure-table`添加`headerSlot`自定义表头插槽用法示例
  src/views/system/menu/form.vue
  src/views/system/menu/index.vue
  src/views/table/base/header-renderer/columns.tsx
  src/views/table/base/header-renderer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: user settings & make style follow the theme
  mock/userInfo.ts
  src/layout/components/userSettings/index.vue
  src/layout/hooks/useNav.ts
  src/router/modules/remaining.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: user settings international config files
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/router/modules/remaining.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

style: update navbar dropdown menu width
  src/layout/components/navbar.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

workflow: replace cloc (GPL license) with tokei (MIT license)
  README.en-US.md
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update
  src/layout/components/tag/index.vue
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  mock/asyncRoutes.ts
  src/layout/components/tag/index.vue
  src/router/modules/able.ts
  src/router/modules/list.ts
  src/router/modules/nested.ts
  src/router/modules/ppt.ts
  src/router/modules/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/system/menu/README.md
  src/views/system/menu/form.vue
  src/views/system/menu/utils/enums.ts
  src/views/system/menu/utils/hook.tsx
  src/views/system/menu/utils/types.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 路由添加可配置的`fixedTag`属性，作用为当前菜单名称是否固定显示在标签页且不可关闭 (#1047)
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/router/utils.ts
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
  src/views/system/menu/README.md
  src/views/system/menu/form.vue
  src/views/system/menu/utils/enums.ts
  src/views/system/menu/utils/hook.tsx
  src/views/system/menu/utils/types.ts
  types/router.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  mock/mine.ts
  mock/region.ts
  mock/userInfo.ts
  src/api/mock.ts
  src/api/user.ts
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/userSettings/index.vue
  src/layout/components/userSettings/safeManage.vue
  src/layout/hooks/useNav.ts
  src/router/modules/remaining.ts
  src/views/account-settings/components/accountManagement.vue
  src/views/account-settings/components/preferences.vue
  src/views/account-settings/components/profile.vue
  src/views/account-settings/components/securityLog.vue
  src/views/account-settings/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
