Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: remove unused variables
  .husky/pre-commit
  mock/asyncRoutes.ts
  package-lock.json
  src/api/routes.ts
  src/api/user.ts
  src/api/utils.ts
  src/router/modules/business.ts
  src/router/utils.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/utils/http/index.ts
  src/views/account-settings/components/ChangePassword.vue
  src/views/account-settings/components/Profile.vue
  src/views/account-settings/index.vue
  src/views/award/entry/index.vue
  src/views/award/my/index.vue
  src/views/award/overview/index.vue
  src/views/award/report/index.vue
  src/views/award/search/index.vue
  src/views/certificate/overview/index.vue
  src/views/certificate/search/index.vue
  src/views/competition/entry/index.vue
  src/views/competition/overview/index.vue
  src/views/competition/search/index.vue
  src/views/login/index.vue
  src/views/login/utils/rule.ts
  src/views/user/create/index.vue
  src/views/user/overview/index.vue
  src/views/user/search/index.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

添加了竞赛批量导入功能，完善了获奖管理
  src/api/award.ts
  src/api/comp.ts
  src/router/modules/business.ts
  src/router/modules/result.ts.1
  src/views/award/my/index.vue
  src/views/award/overview/index.vue
  src/views/award/report/index.vue
  src/views/award/search/index.vue
  src/views/competition/entry/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加了获奖申请和审批页面
  src/api/apply.ts
  src/api/award.ts
  src/router/modules/business.ts
  src/views/award/apply/index.vue
  src/views/award/approve/index.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复了husky旧版配置文件带来的错误
  .husky/commit-msg
  .husky/husky.sh
  .husky/pre-commit
Due: none

feat: `layout`右上角的操作按钮添加动效 (#1254)
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-notice/index.vue
  src/layout/components/lay-search/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/layout/components/lay-sidebar/components/SidebarFullScreen.vue
  src/style/index.scss
  src/style/sidebar.scss
  src/style/tailwind.css
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化主题色选项风格 (#1257)
  src/layout/components/lay-setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `RePureTableBar`与`ReVxeTableBar`组件实现全量文本国际化 (#1251)
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加了竞赛发布和团队创建等功能
  package.json
  pnpm-lock.yaml
  src/api/comp.ts
  src/api/team.ts
  src/api/user.ts
  src/views/welcome/components/CompDetailDialog.vue
  src/views/welcome/components/EventEditDialog.vue
  src/views/welcome/components/EventListAdmin.vue
  src/views/welcome/components/EventListUser.vue
  src/views/welcome/components/TeamEditDialogUser.vue
  src/views/welcome/components/TeamViewDialogAdmin.vue
  src/views/welcome/components/TeamsAdmin.vue
  src/views/welcome/components/TeamsUser.vue
  src/views/welcome/index.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复文件上传演示接口失效问题
  src/api/mock.ts
  src/views/components/upload/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  mock/asyncRoutes.ts
  mock/login.ts
  mock/map.ts
  mock/mine.ts
  mock/refreshToken.ts
  mock/system.ts
  src/api/mock.ts
  src/api/routes.ts
  src/api/system.ts
  src/api/user.ts
  src/components/ReMap/src/Amap.vue
  src/router/utils.ts
  src/store/modules/user.ts
  src/views/account-settings/components/Profile.vue
  src/views/account-settings/components/SecurityLog.vue
  src/views/account-settings/index.vue
  src/views/components/upload/form.vue
  src/views/login/index.vue
  src/views/monitor/logs/login/hook.tsx
  src/views/monitor/logs/operation/hook.tsx
  src/views/monitor/logs/system/hook.tsx
  src/views/monitor/online/hook.tsx
  src/views/permission/page/index.vue
  src/views/system/dept/utils/hook.tsx
  src/views/system/menu/utils/hook.tsx
  src/views/system/role/utils/hook.tsx
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复了报名页面和团队管理页面的部分bug
  src/api/comp.ts
  src/api/team.ts
  src/views/welcome/components/TeamAwardInfo.vue
  src/views/welcome/components/TeamBasicInfo.vue
  src/views/welcome/components/TeamEditDialogUser.vue
  src/views/welcome/components/TeamViewDialogAdmin.vue
  src/views/welcome/components/TeamWorksInfo.vue
  src/views/welcome/components/TeamsAdmin.vue
  src/views/welcome/components/TeamsUser.vue
  src/views/welcome/components/UserSelectTag.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 重构`API`接口响应格式，带来简洁高效的接口设计 (#1256)
  mock/asyncRoutes.ts
  mock/list.ts
  mock/login.ts
  mock/map.ts
  mock/mine.ts
  mock/refreshToken.ts
  mock/system.ts
  src/api/list.ts
  src/api/mock.ts
  src/api/routes.ts
  src/api/system.ts
  src/api/user.ts
  src/components/ReMap/src/Amap.vue
  src/router/utils.ts
  src/store/modules/user.ts
  src/views/account-settings/components/Profile.vue
  src/views/account-settings/components/SecurityLog.vue
  src/views/account-settings/index.vue
  src/views/components/upload/form.vue
  src/views/list/card/index.vue
  src/views/login/index.vue
  src/views/monitor/logs/login/hook.tsx
  src/views/monitor/logs/operation/hook.tsx
  src/views/monitor/logs/system/hook.tsx
  src/views/monitor/online/hook.tsx
  src/views/permission/page/index.vue
  src/views/system/dept/utils/hook.tsx
  src/views/system/menu/utils/hook.tsx
  src/views/system/role/utils/hook.tsx
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 新增了消息中心，实现消息的阅读和概览；优化了用户报名逻辑，和统计；新增了批量导出审核通过的团队的名单，和提交的文件信息
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/api/comp.ts
  src/api/team.ts
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-notice/components/NoticeList.vue
  src/layout/components/lay-notice/data.ts
  src/layout/components/lay-notice/index.vue
  src/views/welcome/components/CompDetailDialog.vue
  src/views/welcome/components/EventListAdmin.vue
  src/views/welcome/components/TeamAwardInfo.vue
  src/views/welcome/components/TeamEditDialogUser.vue
  src/views/welcome/components/TeamViewDialogAdmin.vue
  src/views/welcome/components/TeamsAdmin.vue
  src/views/welcome/components/UserSelectTag.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 新增了获奖信息的筛选，添加了获奖信息批量导入的逻辑
  public/award_template.xlsx
  public/template.xlsx
  src/api/award.ts
  src/views/award/components/AwardCard.vue
  src/views/award/components/AwardForm.vue
  src/views/award/components/AwardFormInner.vue
  src/views/award/components/AwardList.vue
  src/views/award/components/BatchImportWizard.vue
  src/views/award/components/UserSelectTag.vue
  src/views/award/entry/index.vue
  src/views/award/my/index.vue
  src/views/award/search/index.vue
  src/views/user/create/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf: 优化接口处理逻辑
  src/store/modules/user.ts
  src/views/login/index.vue
  src/views/permission/page/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 新增了用户删除，和分页功能
  src/api/user.ts
  src/views/user/overview/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 刷新`token`接口请求失败后，跳转到登录页面，需重新登录 (#1253)
  locales/en.yaml
  locales/zh-CN.yaml
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReQrcode/src/index.tsx
  src/components/ReVxeTableBar/src/bar.tsx
  src/layout/components/lay-search/components/SearchHistoryItem.vue
  src/layout/components/lay-sidebar/components/SidebarExtraIcon.vue
  src/views/able/video-frame/index.vue
  src/views/components/virtual-list/index.vue
  src/views/login/index.vue
  src/views/system/user/utils/hook.tsx
  src/views/table/base/imgPreview.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReCropper/src/index.tsx
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`this.$storage`类型报错
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-panel/index.vue
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-sidebar/components/SidebarCenterCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/layout/components/lay-sidebar/components/SidebarLeftCollapse.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
  src/views/system/user/tree.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/components/ReSeamlessScroll/src/index.vue
  src/views/table/high/echarts/columns.tsx
  src/views/vue-flow/layouting/animationEdge.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style: 优化国际化图标样式
  src/style/sidebar.scss
  src/style/tailwind.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

refactor: `stylelint`升级至`v17`版本
  package.json
  pnpm-lock.yaml
  src/views/components/split-pane.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  .husky/commit-msg
Due: none

chore: update
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/views/able/video-frame/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
