Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 使用`vite-plugin-fake-server`替换`vite-plugin-mock`，使用`@faker-js/faker`替换`mockjs` (#763)
  build/cdn.ts
  build/plugins.ts
  mock/asyncRoutes.ts
  mock/list.ts
  mock/login.ts
  mock/map.ts
  mock/refreshToken.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/mockProdServer.ts
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级`vite`至`v5` 版本，规定`node`版本`>=18.0.0`，`pnpm`版本`>=8.6.10` (#738)
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .lintstagedrc
  .nvmrc
  .prettierrc.js
  Dockerfile
  README.en-US.md
  README.md
  commitlint.config.cjs
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  stylelint.config.cjs
  tailwind.config.ts
  types/global-components.d.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, stylelint --fix

chore: 更新`commitlint.config.js`文件为`esm`语法
  .eslintignore
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 更新`postcss.config.js`文件为`esm`语法
  .eslintignore
  postcss.config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 使用`eslint.config.js`替换`.eslintrc.js`并遵循`esm`语法
  .eslintignore
Due: none

refactor: 升级`stylelint v16`并遵循`esm`语法
  .eslintignore
Due: none

refactor: 使用`eslint.config.js`替换`.eslintrc.js`并遵循`esm`语法
  .eslintignore
  .eslintrc.cjs
  commitlint.config.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/ReFlop/src/filpper.tsx
  src/components/ReSelector/src/index.tsx
  src/utils/http/types.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  build/info.ts
  src/main.ts
  src/store/modules/multiTags.ts
  src/store/modules/settings.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
  src/views/able/icon-select.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  package.json
  pnpm-lock.yaml
  src/components/ReDialog/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/views/able/icon-select.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

docs: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: 删除一些会自动安装的依赖
  package.json
  pnpm-lock.yaml
  stylelint.config.cjs
Due: prettier --cache --write

chore: update
  .eslintignore
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  build/plugins.ts
  package.json
  pnpm-lock.yaml
  src/components/ReDialog/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/views/system/user/tree.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 删除会自动安装的`stylelint`插件依赖
  package.json
  pnpm-lock.yaml
  stylelint.config.cjs
Due: prettier --cache --write

chore: 再次对中文路径做测试，删除`sass-loader`依赖
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

修复了 CachePageList 中的重复问题
  src/store/modules/permission.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 根治非必要的`vue-router`动态路由警告`No match found for location with path`
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update `vite-plugin-router-warn`
  pnpm-lock.yaml
Due: none

perf: 函数式弹框组件`ReDialog`保留关闭动画
  src/components/ReDialog/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 依赖升级，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 升级`stylelint v16`并遵循`esm`语法
  .eslintignore
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

docs: update `README`
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

perf: i18n添加缓存 避免重复迭代带来的性能消耗
  src/plugins/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化国际化相关处理逻辑，初始化时添加缓存以避免不必要的性能消耗 (#834)
  src/plugins/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  .vscode/settings.json
  README.en-US.md
  README.md
  package.json
  pnpm-lock.yaml
  src/views/able/video-frame/index.vue
  src/views/able/watermark.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 升级`vue^3.4.0`，整体性能得到不错的提升
  package.json
  pnpm-lock.yaml
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

perf: 更干净整洁的项目配置右侧弹出面板
  src/components/ReCropper/src/circled.css
  src/components/ReCropper/src/index.tsx
  src/components/ReIcon/src/hooks.ts
  src/components/ReIcon/src/types.ts
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/components/ReSegmented/src/type.ts
  src/layout/components/panel/index.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/main.ts
  src/style/dark.scss
  src/style/element-plus.scss
  src/style/index.scss
  src/views/able/wavesurfer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 更干净整洁的项目配置右侧弹出面板 (#841)
  src/components/ReCropper/src/circled.css
  src/components/ReCropper/src/index.tsx
  src/components/ReIcon/src/hooks.ts
  src/components/ReIcon/src/types.ts
  src/components/ReSegmented/src/index.css
  src/components/ReSegmented/src/index.tsx
  src/components/ReSegmented/src/type.ts
  src/layout/components/panel/index.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/main.ts
  src/style/dark.scss
  src/style/element-plus.scss
  src/style/index.scss
  src/views/able/wavesurfer/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

refactor: 优化主题色
  src/layout/components/sidebar/leftCollapse.vue
  src/layout/theme/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 移除`yellow`金色主题配色
  src/layout/components/panel/index.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/theme/index.ts
  src/store/modules/epTheme.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化左侧菜单的右边框，使其不再突兀
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

style: 所有层级的子菜单字体大小跟顶级菜单保持一致都是`14px`
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss,html})
