Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: 将全屏按钮置于顶部，使其显眼且易于操作 (#969)
  src/layout/components/navbar.vue
  src/layout/components/sidebar/fullScreen.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/tag/index.vue
  src/layout/hooks/useNav.ts
  src/layout/hooks/useTag.ts
  src/style/sidebar.scss
  src/views/guide/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

docs: 添加特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

feat: 系统日志添加查看详情
  src/layout/components/appMain.vue
  src/views/about/columns.tsx
  src/views/about/index.vue
  src/views/components/dialog/index.vue
  src/views/monitor/logs/system/detail.vue
  src/views/monitor/logs/system/hook.tsx
  src/views/monitor/logs/system/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: stretch配置添加自定义宽度
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复setting/index.vue lint时的类型错误
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 简化stretch配置
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 表格选择器添加默认回显
  src/views/pure-table/high/table-select/multiple/columns.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复异常的滚动条
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  .lintstagedrc
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/api/system.ts
  src/style/reset.scss
  src/views/components/json-editor.vue
  src/views/monitor/logs/system/detail.vue
  src/views/monitor/logs/system/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  src/views/monitor/logs/system/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 系统日志添加查看详情 (#974)
  .lintstagedrc
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/api/system.ts
  src/layout/components/appMain.vue
  src/style/reset.scss
  src/views/about/columns.tsx
  src/views/about/index.vue
  src/views/components/dialog/index.vue
  src/views/components/json-editor.vue
  src/views/monitor/logs/system/detail.vue
  src/views/monitor/logs/system/hook.tsx
  src/views/monitor/logs/system/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 修复`windows`下页面切换，内容区会出现滚动条问题 (#976)
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

docs: 更新特别代码贡献名单
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: update
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 内容区添加全局`Stretch`配置，可自定义紧凑页面，轻松找到所需信息 (#968)
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 修改stretch固定配置的效果icon
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update (#977)
  src/layout/components/setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: 修改倒计时开始延迟问题
  src/views/login/utils/verifyCode.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 完善角色管理-菜单权限功能，新颖的交互体验
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加甘特图
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/router/modules/ganttchart.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: segmented 当v-model值与index不一致时，数据错误
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  mock/system.ts
  src/api/system.ts
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 完善角色管理-菜单权限功能，新颖的交互体验 (#984)
  mock/system.ts
  src/api/system.ts
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 系统管理、系统监控兼容移动端
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/monitor/online/index.vue
  src/views/system/dept/index.vue
  src/views/system/dept/utils/hook.tsx
  src/views/system/menu/index.vue
  src/views/system/menu/utils/hook.tsx
  src/views/system/role/index.vue
  src/views/system/role/utils/hook.tsx
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: `pure-admin-table`添加可编辑表格的简易用法
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/table.ts
  src/views/pure-table/edit.vue
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/columns.tsx
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/empty.svg
  src/views/pure-table/edit/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: `pure-admin-table`添加单行编辑表格的简易用法
  package.json
  pnpm-lock.yaml
  src/views/pure-table/edit/data.ts
  src/views/pure-table/edit/demo1/columns.tsx
  src/views/pure-table/edit/demo1/index.vue
  src/views/pure-table/edit/demo2/columns.tsx
  src/views/pure-table/edit/demo2/index.vue
  src/views/pure-table/edit/list.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: add user settings page
  locales/zh-CN.yaml
  mock/region.ts
  mock/userInfo.ts
  src/api/mock.ts
  src/api/user.ts
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/userSettings/index.vue
  src/layout/components/userSettings/safeManage.vue
  src/layout/components/userSettings/userInfoManage.vue
  src/layout/hooks/useNav.ts
  src/router/modules/remaining.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: `ReDialog`组件添加全屏回调事件
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
