Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: 添加`AnimateCss`选择器组件`ReAnimateSelector` (#764)
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReAnimateSelector/index.ts
  src/components/ReAnimateSelector/src/animate.ts
  src/components/ReAnimateSelector/src/index.vue
  src/router/modules/components.ts
  src/views/components/animatecss/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化分段控制器组件，添加`v-model`支持
  src/components/ReSegmented/src/index.tsx
  src/views/components/segmented/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化平台`logo`获取方式
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/logo.vue
  src/layout/hooks/useNav.ts
  src/views/components/animatecss/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修正錯誤白名單接口
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 接口`/refreshToken`改为`/refresh-token` (#765)
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 升级`@pureadmin/theme`，带来了更友好的`esm`支持
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 优化`build/info.ts`文件中的一些函数，使其友好支持`esm`
  build/info.ts
  build/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: use `vite.config.mts` replace `vite.config.ts`
  build/optimize.ts
  tsconfig.json
  vite.config.mts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: use `postcss.config.cjs` replace `postcss.config.js`
  .eslintignore
  .gitignore
  postcss.config.cjs
Due: none

chore: update `.gitignore`
  .gitignore
Due: none

feat: 新增 refresh 錯誤處理
  src/utils/http/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 升级`swiper11`
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 默认隐藏页脚
  public/platform-config.json
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

🐞 fix(顶部标签页): 标签页层级问题
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 修复点击`iframe`页面无法关闭右键标签页面板以及右键标签页面板被遮挡的问题
  src/layout/components/tag/index.vue
  src/layout/frameView.vue
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: PureTableBar的列设置弹出框优化
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复在路由`query`、`params`模式下点击面包屑跳转页面少参问题
  src/layout/components/sidebar/breadCrumb.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  dist/static/js/columns.js
  dist/static/js/index27.js
  dist/static/js/index5.js
  dist/static/js/success.js
  dist/static/js/timeline.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

Update bar.tsx
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化`PureTableBar`组件的列设置弹出框，设置最大高度，超出可滚动 (#780)
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  mock/login.ts
  mock/refreshToken.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  dist/static/js/columns.js
  dist/static/js/index.js
  dist/static/js/index28.js
  dist/static/js/index5.js
  dist/static/js/refresh.js
  dist/static/js/success.js
  dist/static/js/timeline.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: add `"type": "module"` in `package.json`
  .eslintignore
  .eslintrc.cjs
  .prettierrc.js
  .prettierrc.json
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  stylelint.config.cjs
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

types: use `satisfies` to replace `as` in `src/router/modules`
  src/router/modules/able.ts
  src/router/modules/about.ts
  src/router/modules/components.ts
  src/router/modules/editor.ts
  src/router/modules/error.ts
  src/router/modules/flowchart.ts
  src/router/modules/formdesign.ts
  src/router/modules/guide.ts
  src/router/modules/home.ts
  src/router/modules/list.ts
  src/router/modules/menuoverflow.ts
  src/router/modules/nested.ts
  src/router/modules/ppt.ts
  src/router/modules/puredoc.ts
  src/router/modules/pureutils.ts
  src/router/modules/remaining.ts
  src/router/modules/result.ts
  src/router/modules/table.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  .eslintignore
  .eslintrc.cjs
  .prettierrc.js
  .prettierrc.json
  commitlint.config.cjs
  postcss.config.cjs
  stylelint.config.cjs
  tsconfig.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: remove `terser` from `devDependencies` in `package.json`
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update
  build/optimize.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: `vscode`编辑器默认使用`Prettier`进行格式化
  .eslintrc.cjs
  commitlint.config.cjs
  index.html
  postcss.config.cjs
  stylelint.config.cjs
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

style: update
  src/layout/components/appMain.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 打包后的代码改为默认原生支持 `ES2015` 的浏览器
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

docs: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

feat: `ReCountTo`普通数字动画组件添加前缀、整数、小数点、小数类名，方便定制
  src/components/ReCountTo/src/normal/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix
