Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  .github/ISSUE_TEMPLATE/bug_report.yml
  .nvmrc
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  README.en-US.md
  README.md
  build/info.ts
  mock/asyncRoutes.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/hooks.ts
  src/components/ReSegmented/src/type.ts
  src/views/about/columns.tsx
  src/views/system/menu/README.md
  src/views/table/base/imgPreview.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-sidebar/components/SidebarItem.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

refactor: 升级`vite`至`v6`版本，升级`sass`至最新版，重构主题写法，弃用`@pureadmin/theme` (#1188)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .nvmrc
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  README.en-US.md
  README.md
  build/info.ts
  build/optimize.ts
  build/plugins.ts
  eslint.config.js
  mock/asyncRoutes.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/hooks.ts
  src/components/ReSegmented/src/type.ts
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/hooks/useDataThemeChange.ts
  src/layout/theme/index.ts
  src/style/index.scss
  src/style/sidebar.scss
  src/style/theme.scss
  src/utils/print.ts
  src/views/about/columns.tsx
  src/views/account-settings/index.vue
  src/views/system/menu/README.md
  src/views/table/base/imgPreview.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

release: update `5.9.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

style: update
  src/style/sidebar.scss
  src/views/account-settings/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`aria-hidden`报错
  package.json
  pnpm-lock.yaml
  src/assets/iconfont/iconfont.js
  src/assets/svg/enter_outlined.svg
  src/assets/svg/exit_screen.svg
  src/assets/svg/full_screen.svg
  src/assets/svg/globalization.svg
  src/assets/svg/keyboard_esc.svg
  src/assets/table-bar/drag.svg
  src/components/ReFlowChart/src/assets/iconfont/iconfont.js
  src/components/ReIcon/src/iconfont.ts
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/components/ReIcon/src/iconifyIconOnline.ts
  src/components/ReSplitPane/iconfont/iconfont.js
  src/views/result/success.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复使用`this`语法时无法显示代码提示的问题并更新`pinia`相关语法
  src/components/ReTreeLine/index.ts
  src/store/modules/app.ts
  src/store/modules/epTheme.ts
  src/store/modules/multiTags.ts
  src/store/modules/permission.ts
  src/store/modules/settings.ts
  src/store/modules/user.ts
  src/utils/print.ts
  tsconfig.json
  types/global-components.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 添加滑块示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReText/src/index.vue
  src/layout/components/lay-footer/index.vue
  src/router/modules/components.ts
  src/views/components/slider/components/Base.vue
  src/views/components/slider/components/Input.vue
  src/views/components/slider/components/Marks.vue
  src/views/components/slider/components/Placement.vue
  src/views/components/slider/components/Range.vue
  src/views/components/slider/components/Size.vue
  src/views/components/slider/components/Step.vue
  src/views/components/slider/components/Vertical.vue
  src/views/components/slider/components/index.ts
  src/views/components/slider/index.vue
  src/views/components/text.vue
  src/views/components/upload/form.vue
  src/views/table/virtual/list.vue
  src/views/table/virtual/pageList.vue
  src/views/table/virtual/treeList.vue
  src/views/vue-flow/layouting/animationEdge.vue
  src/views/vue-flow/layouting/icon.vue
  src/views/vue-flow/layouting/index.vue
  src/views/vue-flow/layouting/processNode.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`Markdown`示例
  build/optimize.ts
  index.html
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/able.ts
  src/router/modules/form.ts
  src/router/modules/ganttastic.ts
  src/router/modules/markdown.ts
  src/router/modules/table.ts
  src/router/modules/vueflow.ts
  src/views/markdown/components/Vditor.vue
  src/views/markdown/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`Markdown`示例 (#1193)
  build/optimize.ts
  index.html
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/able.ts
  src/router/modules/form.ts
  src/router/modules/ganttastic.ts
  src/router/modules/markdown.ts
  src/router/modules/table.ts
  src/router/modules/vueflow.ts
  src/views/markdown/components/Vditor.vue
  src/views/markdown/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加代码编辑器示例
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/router/enums.ts
  src/router/modules/codemirror.ts
  src/views/able/video-frame/index.vue
  src/views/codemirror/index.vue
  src/views/components/json-editor.vue
  src/views/components/swiper.vue
  src/views/list/card/components/ListCard.vue
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/monitor/online/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加代码编辑器示例 (#1194)
  build/optimize.ts
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/router/enums.ts
  src/router/modules/codemirror.ts
  src/views/able/video-frame/index.vue
  src/views/codemirror/index.vue
  src/views/components/json-editor.vue
  src/views/components/swiper.vue
  src/views/list/card/components/ListCard.vue
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation/index.vue
  src/views/monitor/logs/system/index.vue
  src/views/monitor/online/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

refactor: keypress已弃用，不推荐再使用，建议改为keydown
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: remove console code
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 使用`keydown`替换`keypress`，`keypress`事件已弃用 (#1195)
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`aria-hidden`报错 (#1192)
  package.json
  pnpm-lock.yaml
  src/assets/iconfont/iconfont.js
  src/assets/svg/enter_outlined.svg
  src/assets/svg/exit_screen.svg
  src/assets/svg/full_screen.svg
  src/assets/svg/globalization.svg
  src/assets/svg/keyboard_esc.svg
  src/assets/table-bar/drag.svg
  src/components/ReFlowChart/src/assets/iconfont/iconfont.js
  src/components/ReIcon/src/iconfont.ts
  src/components/ReIcon/src/iconifyIconOffline.ts
  src/components/ReIcon/src/iconifyIconOnline.ts
  src/components/ReSplitPane/iconfont/iconfont.js
  src/views/result/success.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

Update index.vue , use ruleForm var
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 优化登录传参 (#1197)
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 优化`src/style/dark.scss`语法
  src/style/dark.scss
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理(主要是`typescript`、`vue-tsc`升级最新版)
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`tagOnClick`标签切换全局公共事件
  src/layout/components/lay-tag/index.vue
  src/utils/mitt.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 升级依赖，相关兼容处理
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/components/ReIcon/src/Select.vue
  src/layout/components/lay-panel/index.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/components/lay-tag/index.scss
  src/layout/index.vue
  src/style/element-plus.scss
  src/style/reset.scss
  src/style/sidebar.scss
  src/views/account-settings/index.vue
  src/views/components/el-button.vue
  src/views/components/slider/components/Base.vue
  src/views/components/slider/components/Step.vue
  src/views/list/card/components/ListCard.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`Ai`聊天组件示例
  build/optimize.ts
  build/plugins.ts
  package.json
  pnpm-lock.yaml
  src/router/enums.ts
  src/router/modules/chatai.ts
  src/views/chatai/components/Bard.vue
  src/views/chatai/components/Bing.vue
  src/views/chatai/components/Blue.vue
  src/views/chatai/components/ChatGPT.vue
  src/views/chatai/components/Dark.vue
  src/views/chatai/components/FullInput.vue
  src/views/chatai/components/Group.vue
  src/views/chatai/components/IntroPanel.vue
  src/views/chatai/components/LoFi.vue
  src/views/chatai/components/MessageCode.vue
  src/views/chatai/components/Red.vue
  src/views/chatai/components/Speech.vue
  src/views/chatai/components/iMessage.vue
  src/views/chatai/components/index.ts
  src/views/chatai/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix --allow-empty-input: (any of: *.vue) or (any of: *.{css,scss,html})
