Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update
  pnpm-lock.yaml
Due: none

refactor: `stylelint`升级至`v17`版本 (#1261)
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/views/able/video-frame/index.vue
  src/views/components/split-pane.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 竞赛管理新增了规模
  src/api/comp.ts
  src/api/user.ts
  src/views/account-settings/components/Profile.vue
  src/views/competition/entry/index.vue
  src/views/user/create/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 新增了获奖信息批量导入页面
  src/api/award.ts
  src/views/award/components/BatchImportWizard.vue
  src/views/award/components/import/BatchImport.vue
  src/views/award/components/import/components/ImportProcessing.vue
  src/views/award/components/import/components/ImportReview.vue
  src/views/award/components/import/components/ImportUpload.vue
  src/views/award/entry/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复了用户页面的展示问题
  src/api/user.ts
  src/views/user/overview/index.vue
  src/views/user/search/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加了生产环境部署文件
  Dockerfile
  nginx.conf
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复`ReDialog`和`ReDrawer`组件在打开时切换路由弹出层未关闭的问题
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/welcome/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 在`layout`中的消息下拉框中，新增“查看更多”和“标为已读”功能
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-notice/components/NoticeList.vue
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 在`layout`的消息下拉框中，新增“查看更多”和“标为已读”功能 (#1263)
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-notice/components/NoticeList.vue
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 动态更新通知图标的状态指示
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

perf(layout): 优化消息通知小红点显示逻辑 (#1265)
  src/layout/components/lay-notice/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/chatai/components/Bard.vue
  src/views/chatai/components/Bing.vue
  src/views/chatai/components/ChatGPT.vue
  src/views/chatai/components/Speech.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/chatai/components/Bard.vue
  src/views/chatai/components/Bing.vue
  src/views/chatai/components/ChatGPT.vue
  src/views/chatai/components/Speech.vue
  src/views/components/datetime-picker.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复标签页操作示例在切换国际化时报错
  src/views/tabs/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 在`vue-router`的导航守卫中，使用`return`语句替代即将弃用的`next()`
  package.json
  pnpm-lock.yaml
  src/router/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: `eslint`升级至`v10`版本
  .lintstagedrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  types/shims-tsx.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: `eslint`升级至`v10`版本 (#1267)
  .lintstagedrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  types/shims-tsx.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: 将全局配置文件 `platform-config.json`中的`ShowModel`重命名为`TagsStyle`，以更准确地反映其语义 (#1250)
  public/platform-config.json
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-tag/index.vue
  src/layout/hooks/useLayout.ts
  src/layout/hooks/useTag.ts
  src/utils/mitt.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 前端功能聚焦，优化 Telegram 专属管理界面
  .env.development
  src/api/tg.ts
  src/main.ts
  src/router/enums.ts
  src/router/index.ts
  src/router/modules/home.ts
  src/router/modules/tg.ts
  src/views/tg/accounts.vue
  src/views/tg/chats.vue
  src/views/tg/monitor.vue
  src/views/tg/rules.vue
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
  src/views/components/cropping/index.vue
  src/views/components/swiper.vue
  src/views/components/waterfall/index.vue
  src/views/empty/index.vue
  src/views/error/403.vue
  src/views/error/404.vue
  src/views/error/500.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input
