Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

docs: update `README`
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 完成登录日志
  mock/asyncRoutes.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/api/system.ts
  src/views/monitor/logs/login.vue
  src/views/monitor/logs/login/hook.tsx
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation.vue
  src/views/monitor/logs/system.vue
  src/views/monitor/online/hook.tsx
  src/views/monitor/utils.ts
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 添加系统监控-在线用户、登录日志页面示例 (#951)
  locales/en.yaml
  locales/zh-CN.yaml
  mock/asyncRoutes.ts
  mock/system.ts
  package.json
  pnpm-lock.yaml
  src/api/system.ts
  src/components/ReIcon/src/offlineIcon.ts
  src/router/enums.ts
  src/views/monitor/logs/login/hook.tsx
  src/views/monitor/logs/login/index.vue
  src/views/monitor/logs/operation.vue
  src/views/monitor/logs/system.vue
  src/views/monitor/online/hook.tsx
  src/views/monitor/online/index.vue
  src/views/monitor/utils.ts
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 更新依赖包，对应兼容处理
  package.json
  pnpm-lock.yaml
  src/views/able/pdf.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

feat: 新增v-ripple指令(水波纹效果)
  src/directives/index.ts
  src/directives/ripple/index.scss
  src/directives/ripple/index.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix

feat: 为关于页的卡片添加滚动条
  src/views/about/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 为关于页面的卡片信息添加内容超出显示滚动条 (#957)
  src/views/about/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增波纹demo
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/able.ts
  src/views/able/ripple.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加基于ElTour实现的引导
  src/views/guide/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/directives/ripple/index.ts
  src/views/able/ripple.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

style: update
  src/style/element-plus.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

feat: 添加基于`ElTour`实现的漫游式引导 (#958)
  src/style/element-plus.scss
  src/views/guide/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增v-ripple指令(水波纹效果) (#956)
  locales/en.yaml
  locales/zh-CN.yaml
  src/directives/index.ts
  src/directives/ripple/index.scss
  src/directives/ripple/index.ts
  src/router/modules/able.ts
  src/views/able/ripple.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: revise typo
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 修复项目配置中开启灰色模式和深色整体风格，刷新页面整体风格异常
  src/layout/components/setting/index.vue
  src/layout/hooks/useDataThemeChange.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: 修复`pure-table`带状态表格在深色整体风格下状态样式消失的问题
  mock/system.ts
  src/style/dark.scss
  src/views/monitor/logs/login/hook.tsx
  src/views/monitor/logs/login/index.vue
  src/views/pure-table/high/table-select/multiple/index.vue
  src/views/pure-table/high/table-select/radio/columns.tsx
  src/views/pure-table/high/table-select/radio/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加系统监控-操作日志
  mock/asyncRoutes.ts
  mock/system.ts
  pnpm-lock.yaml
  src/api/system.ts
  src/views/monitor/logs/operation.vue
  src/views/monitor/logs/operation/hook.tsx
  src/views/monitor/logs/operation/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加系统监控-系统日志
  mock/asyncRoutes.ts
  mock/system.ts
  src/api/system.ts
  src/views/monitor/logs/system.vue
  src/views/monitor/logs/system/hook.tsx
  src/views/monitor/logs/system/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 更新`typeit`依赖为最新，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/components/ReTypeit/index.ts
  src/components/ReTypeit/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: 优化动态路由添加方法
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  build/info.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 页面添加stretch配置
  public/platform-config.json
  src/layout/components/appMain.vue
  src/layout/components/setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: 将全屏按钮置于顶部，使其显眼且易于操作
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/tag/index.vue
  src/layout/hooks/useNav.ts
  src/layout/hooks/useTag.ts
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

修复windows下注册页面出现滚动条问题
  src/style/login.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

style: 修复`windwos`下点击注册页面会出现滚动条问题 (#970)
  src/style/login.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: update
  src/layout/components/navbar.vue
  src/layout/components/sidebar/fullScreen.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/sidebar/fullScreen.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/guide/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix
