Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore: update
  src/layout/components/lay-setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  public/platform-config.json
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-setting/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 系统配置面板新增全屏水印功能 (#1258)
  locales/en.yaml
  locales/zh-CN.yaml
  public/platform-config.json
  src/App.vue
  src/layout/components/lay-setting/index.vue
  src/layout/hooks/useLayout.ts
  src/utils/responsive.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  public/platform-config.json
Due: none

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: 使用`vueuse`中的`useInfiniteScroll`函数替换`v3-infinite-loading`库
  package.json
  pnpm-lock.yaml
  src/views/components/waterfall/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: 为TableBar和VxeTableBar组件添加固定列的配置功能
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 去除代码中多余的空格
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  package.json
  pnpm-lock.yaml
  src/plugins/i18n.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore: update
  locales/en.yaml
  locales/zh-CN.yaml
Due: none

Delete locales/en.yaml
  locales/en.yaml
Due: none

chore: update
  locales/en.yaml
Due: none

Delete locales/zh-CN.yaml
  locales/zh-CN.yaml
Due: none

chore: update
  locales/zh-CN.yaml
Due: none

chore: update
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `RePureTableBar`和`ReVxeTableBar`组件新增固定列功能 (#1271)
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/RePureTableBar/src/bar.tsx
  src/components/ReVxeTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/views/components/virtual-list/horizontal.vue
  src/views/components/virtual-list/index.vue
  src/views/components/virtual-list/vertical.vue
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

refactor: 升级`vite`至`v8`版本，从`Rollup`和`esbuild`转向`Rolldown`和`Oxc` (#1259)
  package.json
  pnpm-lock.yaml
  src/plugins/i18n.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf: 动态导入`CDN`插件，避免开发模式下加载多余代码
  build/plugins.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: 从`CDN`模式中移除`pinia`和`vue-demi`。最新版`pinia`不再依赖`vue-demi`，但生成的`iife`文件存在问题，等待修复后再将`pinia`加入`CDN`模式
  build/cdn.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 提交
  mock/asyncRoutes.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: 提交
  src/views/system/role/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 提交
  mock/asyncRoutes.ts
  src/views/system/role/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  tsconfig.json
Due: none

perf: 优化并精简`.husky`文件，提升`commit`提交速度
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
Due: none
