Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

release: update `5.5.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

fix: 菜单中点击外链会跳转两次
  src/layout/components/lay-sidebar/components/SidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  mock/asyncRoutes.ts
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavVertical.vue
  src/layout/components/lay-sidebar/components/SidebarItem.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复点击外链会跳转两次的问题 (#1133)
  mock/asyncRoutes.ts
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavVertical.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复`ReSegmented`尺寸首次调整造成的样式错位问题
  src/components/ReSegmented/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化`ReSegmented`组件 (#1137)
  src/components/ReSegmented/src/index.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
  src/views/schema-form/form/base.vue
  src/views/schema-form/form/dialog.vue
  src/views/schema-form/form/drawer.vue
  src/views/schema-form/form/steps.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/lay-notice/components/NoticeItem.vue
  src/layout/components/lay-search/components/SearchFooter.vue
  src/layout/components/lay-sidebar/components/SidebarCenterCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarExtraIcon.vue
  src/layout/components/lay-sidebar/components/SidebarLeftCollapse.vue
  src/layout/components/lay-sidebar/components/SidebarLogo.vue
  src/layout/components/lay-sidebar/components/SidebarTopCollapse.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: 将各种布局模式中的国际化选择器部分抽离为公共组件
  src/layout/components/lay-navbar/index.vue
  src/layout/components/lay-sidebar/NavHorizontal.vue
  src/layout/components/lay-sidebar/NavMix.vue
  src/layout/components/lay-sidebar/components/SidebarI18nSelect.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 升级`pnpm`至`v9`版本，相关兼容处理
  .github/workflows/linter.yml
  .github/workflows/pages.yml
  .lintstagedrc
  .npmrc
  .nvmrc
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): update
  package.json
  pnpm-lock.yaml
  types/index.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

release: update `5.6.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

Update tree.ts 提取菜单树中的每一项uniqueId
  src/utils/tree.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: fix the inconsistent_type_definition of post and get
  src/utils/http/types.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: update
  src/utils/http/types.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

docs: update `README`
  README.md
Due: prettier --cache --ignore-unknown --write

chore: 升级依赖，相关兼容处理
  package.json
  pnpm-lock.yaml
  src/plugins/vxeTable.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

fix: 修复在火狐浏览器中菜单折叠后，文字超出未隐藏的问题
  locales/zh-CN.yaml
  src/layout/components/lay-sidebar/components/SidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

types: complete dirctives and v-auth custom color
  .vscode/extensions.json
  .vscode/settings.json
  src/directives/auth/index.ts
  src/directives/copy/index.ts
  src/directives/longpress/index.ts
  types/directives.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: add Inspector(developer open vscode)
  build/plugins.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

docs: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

feat: add chrome style page indictor
  locales/en.yaml
  locales/zh-CN.yaml
  src/layout/components/lay-setting/index.vue
  src/layout/components/lay-tag/chrome-tab-bg.vue
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 调整谷歌风格页签暗黑模式样式和容器padding-top
  src/layout/components/lay-content/index.vue
  src/layout/components/lay-tag/index.scss
  src/layout/components/lay-tag/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: 更新依赖，建议升级`vue-pdf-embed`至最新版
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update sponsors
  src/App.vue
  src/layout/components/lay-footer/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: update
  README.en-US.md
  README.md
  public/sponsors/aitools.svg
Due: prettier --cache --ignore-unknown --write

feat: add login input `@keyup.enter` way operate
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
