Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

perf: 当浏览器窗口的可视区域小于或等于`1280`时隐藏页宽
  src/layout/components/setting/index.vue
  src/layout/index.vue
  src/store/modules/app.ts
  src/store/modules/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: add hsMqtt to en.yaml
  locales/en.yaml
Due: none

feat: add mqtt client demo use mqtt.js and emqx broker
  .vscode/settings.json
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/mqtt-client.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

feat: add user settings page
  locales/zh-CN.yaml
  mock/region.ts
  mock/userInfo.ts
  src/api/mock.ts
  src/api/user.ts
  src/layout/components/navbar.vue
  src/layout/components/sidebar/horizontal.vue
  src/layout/components/sidebar/mixNav.vue
  src/layout/components/userSettings/index.vue
  src/layout/components/userSettings/safeManage.vue
  src/layout/components/userSettings/userInfoManage.vue
  src/layout/hooks/useNav.ts
  src/router/modules/remaining.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

wip: dev safe-manage in user-settings module
  src/layout/components/userSettings/safeManage.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: mqtt client.end error in onUnmounted, update some style
  src/views/able/mqtt-client.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/router/modules/able.ts
  src/views/able/mqtt-client.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

feat: 添加`MQTT`示例 (#1021)
  .vscode/settings.json
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/router/modules/able.ts
  src/views/able/mqtt-client.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: change mqtt.js to a low level v4
  package.json
  pnpm-lock.yaml
  src/views/able/mqtt-client.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: change mqtt to version 4
  package.json
  pnpm-lock.yaml
  src/views/able/mqtt-client.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update `mqtt v4` (#1024)
  package.json
  pnpm-lock.yaml
  src/views/able/mqtt-client.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

fix: 修复用户管理页裁剪图片上传组件逻辑问题
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

perf: 优化用户管理-裁剪图片上传功能 (#1027)
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: `RePureTableBar`组件搭配`pure-admin-table`支持表头国际化切换
  src/components/RePureTableBar/src/bar.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

types: 封装通用请求类型，减少重复类型定义
  src/api/list.ts
  src/api/mock.ts
  src/api/routes.ts
  src/api/system.ts
  src/api/user.ts
  src/store/modules/user.ts
  src/utils/http/index.ts
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: udpate
  src/components/ReDialog/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/views/system/menu/README.md
Due: prettier --cache --ignore-unknown --write

chore: update
  src/views/login/components/regist.vue
  src/views/login/components/update.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReFlowChart/src/Control.vue
  src/views/able/pdf.vue
  src/views/login/index.vue
  src/views/schema-form/index.vue
  src/views/table/edit.vue
  src/views/table/high.vue
  src/views/table/index.vue
  src/views/table/virtual.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReAnimateSelector/index.ts
  src/components/ReBarcode/index.ts
  src/components/ReCountTo/src/normal/index.tsx
  src/components/ReCountTo/src/normal/props.ts
  src/components/ReCountTo/src/rebound/index.tsx
  src/components/ReCountTo/src/rebound/props.ts
  src/components/ReCropper/src/index.tsx
  src/components/ReDialog/index.vue
  src/components/ReFlicker/index.ts
  src/components/ReFlop/src/filpper.tsx
  src/components/ReFlop/src/index.vue
  src/components/ReQrcode/src/index.tsx
  src/components/ReSeamlessScroll/src/index.vue
  src/components/ReSelector/src/index.tsx
  src/components/ReSplitPane/index.tsx
  src/components/ReSplitPane/resizer.tsx
  src/components/ReText/src/index.vue
  src/components/ReTreeLine/index.ts
  src/components/ReTypeit/src/index.tsx
  src/config/index.ts
  src/directives/optimize/index.ts
  src/views/able/pdf.vue
  src/views/able/watermark.vue
  src/views/components/split-pane.vue
  src/views/components/timeline.vue
  src/views/components/waterfall/index.vue
  src/views/flow-chart/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/layout/components/footer/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 无参数打开页签`is-active`样式问题
  mock/asyncRoutes.ts
  src/layout/hooks/useTag.ts
  src/views/tabs/hooks.ts
  src/views/tabs/index.vue
  src/views/tabs/no-parameter-detail.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

docs: update
  README.en-US.md
  README.md
Due: prettier --cache --ignore-unknown --write

release: update `5.3.0`
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  package.json
  public/platform-config.json
Due: prettier --cache --ignore-unknown --write, prettier --cache --write

style: 文字查缺补漏
  src/views/components/cascader.vue
  src/views/components/collapse.vue
  src/views/components/statistic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

chore: revise typo (#1039)
  src/views/components/cascader.vue
  src/views/components/collapse.vue
  src/views/components/statistic.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input
