Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

feat: 带来高级感满满的终端命令行
  build/info.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

perf: 优化标签页右键菜单超出边缘检测功能，确保其始终完整显示在可视区
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

pref: 渲染iframe时，移除默认的slot渲染frameView组件
  src/layout/components/keepAliveFrame/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 新增组件-可选按钮示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/enums.ts
  src/router/modules/components.ts
  src/router/modules/nested.ts
  src/views/components/check-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化可选按钮组件
  build/info.ts
  src/views/components/check-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: fix frame reload error after hmr
  src/layout/components/appMain.vue
  src/layout/components/keepAliveFrame/index.vue
  src/layout/frameView.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 通过路由配置keepAlive frame
  mock/asyncRoutes.ts
  public/platform-config.json
  src/layout/components/keepAliveFrame/index.vue
  types/global.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加常用按钮示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/able.ts
  src/router/modules/components.ts
  src/router/modules/flowchart.ts
  src/router/modules/formdesign.ts
  src/views/components/check-button.vue
  src/views/components/el-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: refresh keep alive iframe
  src/layout/components/keepAliveFrame/index.vue
  src/layout/components/keepAliveFrame/useMultiFrame.ts
  src/layout/frameView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加颜色选择器组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/color-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加日期选择器组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/check-button.vue
  src/views/components/date-picker.vue
  src/views/components/el-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化标签页，刷新后保证滚动到当前标签页位置
  src/layout/components/tag/index.vue
  src/views/components/color-picker.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加日期时间选择器示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/color-picker.vue
  src/views/components/date-picker.vue
  src/views/components/datetime-picker.vue
  src/views/components/el-button.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加时间选择(器)示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/time-picker.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加统计组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/statistic.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加标签组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/statistic.vue
  src/views/components/tag.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加折叠面板组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/collapse.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加进度条组件示例
  locales/en.yaml
  locales/zh-CN.yaml
  src/router/modules/components.ts
  src/views/components/progress.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

feat: 添加文件上传示例
  locales/en.yaml
  locales/zh-CN.yaml
  package.json
  pnpm-lock.yaml
  src/api/mock.ts
  src/router/modules/components.ts
  src/style/element-plus.scss
  src/views/components/datetime-picker.vue
  src/views/components/upload/form.vue
  src/views/components/upload/imgs/1.jpg
  src/views/components/upload/imgs/2.jpg
  src/views/components/upload/imgs/3.jpg
  src/views/components/upload/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  mock/asyncRoutes.ts
  src/layout/components/appMain.vue
  src/layout/components/keepAliveFrame/index.vue
  src/layout/components/keepAliveFrame/useMultiFrame.ts
  src/layout/frameView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

内嵌`iframe`页支持设置`keepAlive`，保持页面状态 (#873)
  mock/asyncRoutes.ts
  src/layout/components/appMain.vue
  src/layout/components/keepAliveFrame/index.vue
  src/layout/components/keepAliveFrame/useMultiFrame.ts
  src/layout/frameView.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix(function): 修复点击登录后再连续敲击回车会不断触发onLogin函数的问题
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix：解决存在执行刷新accessToken操作时，取到cookie里面的值时refreshToken为空的情况导致报错！
  src/utils/auth.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 重新加载时，iframe keepAlive失效
  src/layout/frameView.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化`iframe`缓存 (#879)
  src/layout/frameView.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 优化只传 path 时父级路由选取 component 值时的策略
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore: update
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 优化登录操作，防止在网络较慢情况下多次触发登录接口 (#880)
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 标签页可按滑动力度进行左右滑动
  package.json
  pnpm-lock.yaml
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: login keypress
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 标签页可按滑动力度进行左右滑动 (#884)
  package.json
  pnpm-lock.yaml
  src/layout/components/tag/index.scss
  src/layout/components/tag/index.vue
  src/layout/hooks/useTag.ts
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix
