Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": [
    "prettier --write",
    "eslint --cache --fix",
    "stylelint --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix --allow-empty-input"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

refactor: `vue-virtual-scroller`虚拟列表升级至`V3`最新版本
  package.json
  pnpm-lock.yaml
  src/views/components/virtual-list/horizontal.vue
  src/views/components/virtual-list/vertical.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: 修复`addPathMatch`函数重复注册`404`路由的问题 (#1290)
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style: 优化谷歌页签风格样式
  src/layout/components/lay-tag/index.scss
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

style: 优化谷歌页签风格样式 (#1292)
  src/layout/components/lay-tag/index.scss
  src/style/dark.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix --allow-empty-input

feat: `useRenderIcon`通用图标函数支持渲染`SVG`字符串和图片`URL` (#1284)
  src/components/ReIcon/src/hooks.ts
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix --allow-empty-input

chore: 优化图标样式
  src/components/ReIcon/src/hooks.ts
  src/style/sidebar.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, stylelint --fix --allow-empty-input

refactor: `vue-virtual-scroller`虚拟列表升级至`V3`最新版本 (#1289)
  package.json
  pnpm-lock.yaml
  src/views/components/virtual-list/horizontal.vue
  src/views/components/virtual-list/vertical.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/components/ReFlowChart/src/NodePanel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: `LogicFlow`流程图升级至`V2`最新版本 (#1288)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ReFlowChart/src/NodePanel.vue
  src/views/flow-chart/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix --allow-empty-input

chore: update
  src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix --allow-empty-input

refactor: `swiper`升级至`v14`版本
  package.json
  pnpm-lock.yaml
  types/shims-vue.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write

refactor: `typescript`升级至`v7`版本
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: 更新依赖，相关兼容处理
  .nvmrc
  build/info.ts
  build/plugins.ts
  build/utils.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write
