Repository pure-admin/vue-pure-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,nvm})*rc}": [
    "prettier --cache --write--parser json"
  ],
  "package.json": ["prettier --cache --write"],
  "*.vue": ["prettier --write", "eslint --cache --fix", "stylelint --fix"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "stylelint --fix"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

perf(ReText): 监听demo描述优化
  src/views/components/text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 完善搜索历史，增加收藏拖拽排序
  src/layout/components/search/components/SearchHistory.vue
  src/layout/components/search/components/SearchHistoryItem.vue
  src/layout/components/search/components/SearchModal.vue
  src/layout/components/search/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 监听默认关闭; 修改demo中配置和描述
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/views/components/text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 菜单重置宽度监听需开启, 否则收起再展开, tooltip还是会显示
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(Tippy): 去掉重复css引用
  src/components/ReCropper/src/circled.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: update
  src/components/ReText/index.ts
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/main.ts
  src/views/components/text.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/components/ReText/index.ts
  src/views/components/text.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/layout/components/sidebar/sidebarItem.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: tag wheel
  src/layout/components/tag/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf: 增强typeit组件
  src/components/ReTypeit/index.ts
  src/components/ReTypeit/src/index.tsx
  src/views/able/typeit.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(ReText): 改成悬浮判断是否省略显示tooltip, 去除所有监听和计算属性
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/views/components/text.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 去掉多余判断
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 简化代码
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): 去掉多余引用
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

perf(ReText): lineClamp类型与el-text保持一致
  src/components/ReText/src/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat(ReText): 新增`ReText`组件，支持自动省略显示`Tooltip`功能, 支持多行省略, 高可复用性 (#898)
  locales/en.yaml
  locales/zh-CN.yaml
  src/components/ReCropper/src/circled.css
  src/components/ReText/index.ts
  src/components/ReText/src/index.vue
  src/layout/components/sidebar/sidebarItem.vue
  src/main.ts
  src/router/modules/components.ts
  src/views/components/text.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

fix: update
  src/components/ReTypeit/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

fix: delete invalid code
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/components/ReTypeit/src/index.tsx
  src/views/able/typeit.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

perf: 增强`ReTypeit`组件，支持插槽以及所有`typeit`配置项 (#922)
  src/components/ReTypeit/index.ts
  src/components/ReTypeit/src/index.tsx
  src/views/able/typeit.vue
  src/views/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: add Copyright in login page
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/layout/components/footer/index.vue
  src/views/login/index.vue
Due: eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 将页脚放在一屏可视区
  src/views/system/dept/index.vue
  src/views/system/role/index.vue
  src/views/system/user/index.vue
  src/views/system/user/tree.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 依赖更新
  package.json
  pnpm-lock.yaml
  public/platform-config.json
  src/layout/components/notice/data.ts
  src/views/components/tag.vue
  src/views/pure-table/base/filters.vue
  src/views/system/user/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: update
  src/assets/login/illustration.svg
  src/style/login.css
Due: prettier --cache --ignore-unknown --write, stylelint --fix

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update `husky v9`
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style: 适配`el-dialog`样式的更新
  src/style/element-plus.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

style: update `src/layout/components/search/components/SearchResult.vue`
  src/layout/components/search/components/SearchResult.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/dept/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

style: update
  src/style/element-plus.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

fix: 修复`ReDialog`中点击取消和确定按钮会触发两次关闭回调
  src/components/ReDialog/index.vue
  src/components/ReDialog/type.ts
  src/views/components/dialog/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  .prettierignore
  src/components/ReAnimateSelector/src/index.vue
  src/components/ReIcon/src/Select.vue
  src/components/ReSegmented/src/type.ts
  src/router/enums.ts
  src/views/components/animatecss.vue
  src/views/system/dept/index.vue
  src/views/system/menu/README.md
  src/views/system/menu/form.vue
  src/views/system/menu/index.vue
  src/views/system/menu/utils/enums.ts
  src/views/system/menu/utils/hook.tsx
  src/views/system/menu/utils/rule.ts
  src/views/system/menu/utils/types.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update src/views/system/menu/README.md
  src/views/system/menu/README.md
Due: prettier --cache --ignore-unknown --write

chore: update
  mock/asyncRoutes.ts
  mock/system.ts
  src/api/system.ts
  src/components/RePureTableBar/src/bar.tsx
  src/views/permission/button/index.vue
  src/views/system/menu/README.md
  src/views/system/menu/index.vue
  src/views/system/menu/utils/hook.tsx
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

chore: update
  src/views/system/menu/form.vue
  src/views/system/menu/utils/hook.tsx
  src/views/system/menu/utils/rule.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix
